force-app/main/default/flows/Assign_Community_Case_Owner.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>NotificationNewCase</name>
        <label>NotificationNewCase</label>
        <locationX>50</locationX>
        <locationY>384</locationY>
        <actionName>Case.New_Community_Case</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.New_Community_Case</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Notifies_Assignment</name>
        <label>Notifies Assignment</label>
        <locationX>578</locationX>
        <locationY>492</locationY>
        <actionName>Case.Asignacion_Caso</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Asignacion_Caso</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <decisions>
        <name>Community</name>
        <label>Community</label>
        <locationX>710</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Salar_Community</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4 OR 5 OR 6 OR 7 OR 8 OR 9 OR 10 OR 11 OR 12 OR 13 OR 14 OR 15 OR 16 OR 17 OR 18) AND 19</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Localidad__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>San Pedro de Atacama</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Localidad__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rio Grande</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Localidad__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Solor</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Localidad__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Toconao</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Localidad__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Talabre</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Localidad__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Camar</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Localidad__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Socaire</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Localidad__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Peine</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Localidad__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Machuca</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Localidad__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Catarpe</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Localidad__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Quitor</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Localidad__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Soncor</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Localidad__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Larache</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Localidad__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yaye</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Localidad__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sequitor y Checar</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Localidad__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cucuter</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Localidad__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Guatin</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Localidad__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Coyo</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedBy.Profile.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>SQM Comunidad</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Owner</targetReference>
            </connector>
            <label>Is Salar Community</label>
        </rules>
    </decisions>
    <decisions>
        <name>CreatedProfile</name>
        <label>CreatedProfile</label>
        <locationX>182</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Profile</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CreatedBy.Profile.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>SQM Comunidad</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NotificationNewCase</targetReference>
            </connector>
            <label>Profile</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Assign Community Case Owner {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Assign Community Case Owner</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Assign_Owner</name>
        <label>Assign Owner</label>
        <locationX>578</locationX>
        <locationY>384</locationY>
        <connector>
            <targetReference>Notifies_Assignment</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>0053i000003OdK6AAK</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CreatedProfile</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0123i0000005oMDAAY</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>Reasing</name>
            <connector>
                <targetReference>Community</targetReference>
            </connector>
            <label>Reassigns owner</label>
            <offsetNumber>5</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>CreatedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Creator</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.CreatedById</elementReference>
        </value>
    </variables>
</Flow>
