force-app/main/default/flows/encuesta_de_satisfacci_n.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>pageNamesInOrder_Assignment</name>
        <label>pageNamesInOrder_Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>welcome_page</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>p_cbc06f8e_0d6f_43d7_8d59_1f8782f85b18</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>p_aad57e54_fcab_491a_86b6_40ebdfb6a635</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>p_c5493c47_c059_4ae9_a8dc_0a1f53690f82</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>thank_you_page</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>welcome_page</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>c_043ad1bc_5bd0_4aab_a825_a1db233cfc66</name>
        <choiceText>Calidad Litio</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Calidad Litio</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_06b6b2ba_a091_4fba_959a_37329f6aea83</name>
        <choiceText>Entre 3 y 6 meses</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Entre 3 y 6 meses</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_099f9d62_87a8_48cc_a49e_647f99b35afc</name>
        <choiceText>S&amp;iacute;, la utilizo cuando la necesito</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sí, la utilizo cuando la necesito</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_0bb40d85_6ac9_4134_a89d_f2adbeecd1d9</name>
        <choiceText>S&amp;iacute;, he recibido capacitaci&amp;oacute;n detallada</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sí, he recibido capacitación detallada</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_14051a66_b9b8_4e9f_aeeb_a947cd2a2f4d</name>
        <choiceText>Comercial Litio</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Comercial Litio</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_17e17dc8_d13c_44b4_b0be_3c401d80e3be</name>
        <choiceText>S&amp;iacute;, pero no la he utilizado previamente</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sí, pero no la he utilizado previamente</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_29732591_13ac_4577_a579_1025f80cede0</name>
        <choiceText>De cuatro a seis veces por semana</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>De cuatro a seis veces por semana</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_2d00d955_2b44_447a_abda_1308c0e85616</name>
        <choiceText>Menos de 3 meses</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Menos de 3 meses</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_4667385c_e017_40dc_9755_7714fe2f74a2</name>
        <choiceText>Muy importante, tener un soporte es esencial para garantizar el buen funcionamiento de Salesforce</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Muy importante, tener un soporte es esencial para garantizar el buen funcionamiento de Salesforce</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_4fa3da75_bcbc_4406_896f_72bd75bf71c9</name>
        <choiceText>Menos de una vez por semana</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Menos de una vez por semana</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_520987b1_2c50_4dc5_aae4_103455f15574</name>
        <choiceText>M&amp;aacute;s de 1 a&amp;ntilde;o</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Más de 1 año</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_65a195e8_5b2f_4821_8fd8_55b5848e162e</name>
        <choiceText>He recibido alguna capacitaci&amp;oacute;n, pero creo que podr&amp;iacute;a beneficiarme de m&amp;aacute;s</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>He recibido alguna capacitación, pero creo que podría beneficiarme de más</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_675b6401_f4bc_4fdf_a691_a38725097374</name>
        <choiceText>De una a tres veces por semana</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>De una a tres veces por semana</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_6cf8fd5b_c136_4295_9461_4adba4cc6fd8</name>
        <choiceText>No, estoy satisfecho/a con las caracter&amp;iacute;sticas actuales</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No, estoy satisfecho/a con las características actuales</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_70a71571_dd25_440e_aca4_f8501939092b</name>
        <choiceText>S&amp;iacute;, en algunas ocasiones</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sí, en algunas ocasiones</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_772a31fa_ba2f_45d1_a1a7_03c46d058bc8</name>
        <choiceText>No, no he tenido consultas o problemas</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No, no he tenido consultas o problemas</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_78c56050_9919_4d09_8e6b_c578dbef1e6e</name>
        <choiceText>Todos los d&amp;iacute;as, uso Salesforce diariamente</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Todos los días, uso Salesforce diariamente</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_7d25fb72_d9be_4104_b822_47e939cd4b15</name>
        <choiceText>Muy c&amp;oacute;modo/a</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Muy cómodo/a</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_81b31d3c_f9ff_430a_9787_a79fe3e86997</name>
        <choiceText>No he recibido capacitaci&amp;oacute;n y me siento c&amp;oacute;modo/a sin ella</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No he recibido capacitación y me siento cómodo/a sin ella</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_853fefe5_24c9_4894_b664_a49ac4b07df9</name>
        <choiceText>Comercial Pricing Litio</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Comercial Pricing Litio</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_85a4ac6c_558c_41a1_84fb_57986b730cc2</name>
        <choiceText>HelpDesk</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>HelpDesk</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_8622a566_33fa_482f_b315_9edd5ce3dd42</name>
        <choiceText>C&amp;oacute;modo/a</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cómodo/a</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_8714acf6_fff7_482b_b048_5ae0639d316e</name>
        <choiceText>Inc&amp;oacute;modo/a</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Incómodo/a</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_8d3fd5f1_d57a_4289_ac7b_2aefa5f0bc3b</name>
        <choiceText>Otro</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Otro</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_96fa24f6_be8e_43a3_bca5_365264afda47</name>
        <choiceText>S&amp;iacute;, en m&amp;uacute;ltiples ocasiones</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sí, en múltiples ocasiones</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_a1cb49ac_4495_4c09_adaf_47d8de0c60c9</name>
        <choiceText>Comunidad Salar</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Comunidad Salar</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_a22f021f_3c1b_49e5_8b51_a4c2eaab7327</name>
        <choiceText>No considero que sea importante tener acceso a un equipo de soporte, ya que me siento c&amp;oacute;modo/a resolviendo inquietudes por mi cuenta</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No considero que sea importante tener acceso a un equipo de soporte, ya que me siento cómodo/a resolviendo inquietudes por mi cuenta</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_a7bd593c_eef4_40be_ae00_e955f8606925</name>
        <choiceText>Entre 6 meses y 1 a&amp;ntilde;o</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Entre 6 meses y 1 año</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_a7fd251e_09b7_474a_a9aa_83705984058e</name>
        <choiceText>S&amp;iacute;, me gustar&amp;iacute;a que se agregara...</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sí, me gustaría que se agregara...</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_a93e4a82_6829_4d83_9546_d55326e9957d</name>
        <choiceText>Cumplimiento Contratos (CCHEN)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cumplimiento Contratos (CCHEN)</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_aafce2fe_1e84_44fd_b880_fc9a0b4c2315</name>
        <choiceText>No, no sab&amp;iacute;a que exist&amp;iacute;a</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No, no sabía que existía</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_b8244693_9d32_4f43_a022_df1203eeebc2</name>
        <choiceText>Correo electr&amp;oacute;nico</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Correo electrónico</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_c2e84ec5_a626_4dac_b15b_8d00c605a86d</name>
        <choiceText>Planificaci&amp;oacute;n Comercial Litio</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Planificación Comercial Litio</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_c3b5ebaf_9e00_4e07_b8ce_2081a5d2d944</name>
        <choiceText>Importante, aunque no he requerido soporte, s&amp;eacute; que es relevante para otros usuarios</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Importante, aunque no he requerido soporte, sé que es relevante para otros usuarios</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_cf0516f2_c766_47ff_beef_39a5b439e4a2</name>
        <choiceText>Chatter</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Chatter</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_d8027f40_2238_4d63_b962_a4f00d4bd9d1</name>
        <choiceText>Neutral</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Neutral</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_da2e030c_3bf2_4742_9f1a_88f283f5bd64</name>
        <choiceText>Zoom / Teams</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Zoom / Teams</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_db469c86_6af1_4d8e_a620_2f760b634840</name>
        <choiceText>Neutral, no estoy seguro/a de si necesitar&amp;iacute;a soporte en el futuro</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Neutral, no estoy seguro/a de si necesitaría soporte en el futuro</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_dd72dc81_74f3_42be_869d_070453a3187a</name>
        <choiceText>No, nunca he interactuado con el equipo de soporte</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No, nunca he interactuado con el equipo de soporte</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_e2d8595d_a415_46af_9f63_a4da5e03d18a</name>
        <choiceText>Comunidad Pampa</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Comunidad Pampa</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_e4676cfd_70e7_48cc_9155_e507a5e4a47b</name>
        <choiceText>Muy inc&amp;oacute;modo/a</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Muy incómodo/a</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_e794009f_54fc_474a_a9ac_9266ccf33a6f</name>
        <choiceText>No he recibido capacitaci&amp;oacute;n formal, pero he aprendido por mi cuenta</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No he recibido capacitación formal, pero he aprendido por mi cuenta</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_e8b6423c_151e_400b_aea5_90a164959af8</name>
        <choiceText>Otro</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Otro</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_f17b57f6_0e38_4931_af0c_5aadd7b6a326</name>
        <choiceText>Calidad Iodo</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Calidad Iodo</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_f35a2701_60ac_49e3_87a5_a822a41f90ae</name>
        <choiceText>Comercial Iodo</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Comercial Iodo</stringValue>
        </value>
    </choices>
    <interviewLabel>Encuesta de Satisfacción</interviewLabel>
    <label>Encuesta de Satisfacción</label>
    <processMetadataValues>
        <name>BrandingSet</name>
        <value>
            <stringValue>sb_encuesta_de_satisfacci_n_3_3e84b61d_252a_4daf_965a_0c433b9e0dd1</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>advanceThankYouPageEnabled</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>autoProgressEnabled</name>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>hasWelcomePage</name>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>isSimpleSurvey</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>overrideActiveVersion</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>surveyType</name>
        <value>
            <stringValue>Survey</stringValue>
        </value>
    </processMetadataValues>
    <processType>Survey</processType>
    <screens>
        <name>p_aad57e54_fcab_491a_86b6_40ebdfb6a635</name>
        <label>Evaluación del soporte</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_c5493c47_c059_4ae9_a8dc_0a1f53690f82</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_6dea797a_ecac_43a5_b263_86ecebafbb4b_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>iconType</name>
                <value>
                    <stringValue>check</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>negativeLabel</name>
                <value>
                    <stringValue>{!q_6dea797a_ecac_43a5_b263_86ecebafbb4b_bnlref_tt}</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>positiveLabel</name>
                <value>
                    <stringValue>{!q_6dea797a_ecac_43a5_b263_86ecebafbb4b_bplref_tt}</stringValue>
                </value>
            </processMetadataValues>
            <name>q_6dea797a_ecac_43a5_b263_86ecebafbb4b</name>
            <dataType>Boolean</dataType>
            <extensionName>survey:runtimeBoolean</extensionName>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 12px; font-family: tahoma;&quot;&gt;9. ¿Sabías que SQM cuenta con un equipo de soporte para Salesforce?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <helpText>Por favor, selecciona una de las siguientes opciones:</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_830bd341_6663_4658_95e6_985d296088b0</name>
            <choiceReferences>c_96fa24f6_be8e_43a3_bca5_365264afda47</choiceReferences>
            <choiceReferences>c_70a71571_dd25_440e_aca4_f8501939092b</choiceReferences>
            <choiceReferences>c_dd72dc81_74f3_42be_869d_070453a3187a</choiceReferences>
            <choiceReferences>c_772a31fa_ba2f_45d1_a1a7_03c46d058bc8</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-family: tahoma;&quot;&gt;¿Has interactuado con nuestro equipo de soporte para resolver consultas o problemas relacionados con Salesforce?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <helpText>Por favor, selecciona una de las siguientes opciones:</helpText>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <processMetadataValues>
                        <name>inputDataType</name>
                        <value>
                            <stringValue>Boolean</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>leftHandSideType</name>
                        <value>
                            <stringValue>Boolean</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>operatorDataType</name>
                        <value>
                            <stringValue>Boolean</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>rightHandSideType</name>
                        <value>
                            <stringValue>Boolean</stringValue>
                        </value>
                    </processMetadataValues>
                    <leftValueReference>q_6dea797a_ecac_43a5_b263_86ecebafbb4b</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>max</name>
                <value>
                    <stringValue>5</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>min</name>
                <value>
                    <stringValue>0</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>scale</name>
                <value>
                    <stringValue>1</stringValue>
                </value>
            </processMetadataValues>
            <name>q_500bdf7a_9377_40c4_9b67_1a424a31bea0</name>
            <dataType>Number</dataType>
            <extensionName>survey:cmpInputRuntimeSlider</extensionName>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-family: tahoma; font-size: 12px;&quot;&gt;En una escala del 0 al 5, ¿qué tan satisfecho te encuentras con el apoyo que has recibido de nuestro equipo de soporte?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <helpText>Donde 0 es muy insatisfecho y 5 es muy satisfecho</helpText>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <processMetadataValues>
                        <name>inputDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>leftHandSideType</name>
                        <value>
                            <stringValue>RadioButton</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>operatorDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>rightHandSideType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <leftValueReference>q_830bd341_6663_4658_95e6_985d296088b0</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>c_96fa24f6_be8e_43a3_bca5_365264afda47</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <processMetadataValues>
                        <name>inputDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>leftHandSideType</name>
                        <value>
                            <stringValue>RadioButton</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>operatorDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>rightHandSideType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <leftValueReference>q_830bd341_6663_4658_95e6_985d296088b0</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>c_70a71571_dd25_440e_aca4_f8501939092b</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_b04837f4_dfdd_4bbc_8d81_7f83a063573b</name>
            <choiceReferences>c_4667385c_e017_40dc_9755_7714fe2f74a2</choiceReferences>
            <choiceReferences>c_c3b5ebaf_9e00_4e07_b8ce_2081a5d2d944</choiceReferences>
            <choiceReferences>c_db469c86_6af1_4d8e_a620_2f760b634840</choiceReferences>
            <choiceReferences>c_a22f021f_3c1b_49e5_8b51_a4c2eaab7327</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-family: tahoma;&quot;&gt;10. En general, ¿Cómo calificarías la importancia de tener acceso a un equipo de soporte para resolver inquietudes sobre Salesforce?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <helpText>Por favor, selecciona una de las siguientes opciones:</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_a64bc21a_31dd_4342_bdac_aefb37c940a1_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>iconType</name>
                <value>
                    <stringValue>check</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>negativeLabel</name>
                <value>
                    <stringValue>{!q_a64bc21a_31dd_4342_bdac_aefb37c940a1_bnlref_tt}</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>positiveLabel</name>
                <value>
                    <stringValue>{!q_a64bc21a_31dd_4342_bdac_aefb37c940a1_bplref_tt}</stringValue>
                </value>
            </processMetadataValues>
            <name>q_a64bc21a_31dd_4342_bdac_aefb37c940a1</name>
            <dataType>Boolean</dataType>
            <extensionName>survey:runtimeBoolean</extensionName>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-family: tahoma; font-size: 12px;&quot;&gt;11. ¿Sabía usted que el soporte cuenta con el respaldo de representantes de los diferentes equipos que utilizan Salesforce?. Los denominamos Key Users y nos asisten con las definiciones de negocio antes de llevar a cabo cambios en la plataforma. A continuación, se detallan los Key Users por módulo:&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <helpText>Comercial Litio: Lisette Salas
Comercial Iodo: Carolina Molina
Calidad Litio: Claudia Gutiérrez
Calidad Yodo: Robert Fernández
Comunidad Salar: María Alejandra Zuleta
Comunidad Pampa: Manuel Ossandón</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_e15181a7_953b_4b0f_a76d_92c434b1b10d</name>
            <choiceReferences>c_099f9d62_87a8_48cc_a49e_647f99b35afc</choiceReferences>
            <choiceReferences>c_17e17dc8_d13c_44b4_b0be_3c401d80e3be</choiceReferences>
            <choiceReferences>c_aafce2fe_1e84_44fd_b880_fc9a0b4c2315</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 12px; font-family: tahoma;&quot;&gt;12. En Salesforce, creamos un canal para recibir tus preguntas y solicitudes, al cual denominamos &quot;Help Desk&quot;. Este se encuentra disponible en el menú de casos. ¿Tenías conocimiento de esto?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <helpText>Por favor, selecciona una de las siguientes opciones:</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_40d390ea_9e63_433c_b618_a8303d4334d0</name>
            <choiceReferences>c_b8244693_9d32_4f43_a022_df1203eeebc2</choiceReferences>
            <choiceReferences>c_cf0516f2_c766_47ff_beef_39a5b439e4a2</choiceReferences>
            <choiceReferences>c_85a4ac6c_558c_41a1_84fb_57986b730cc2</choiceReferences>
            <choiceReferences>c_da2e030c_3bf2_4742_9f1a_88f283f5bd64</choiceReferences>
            <choiceReferences>c_e8b6423c_151e_400b_aea5_90a164959af8</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-family: tahoma;&quot;&gt;13. ¿A través de qué medio prefieres comunicarte para tus consultas o problemas con Salesforce al equipo de soporte?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <helpText>Por favor, selecciona una o más de las siguientes opciones:</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_8842b4d3_17a1_44a6_9c9e_23f280da167e</name>
            <dataType>String</dataType>
            <extensionName>survey:runtimeShortText</extensionName>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-family: tahoma;&quot;&gt;Si anteriormente escogió &quot;Otro&quot;, indique el medio de comunicación de su preferencia&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <processMetadataValues>
                        <name>inputDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>leftHandSideType</name>
                        <value>
                            <stringValue>MultiChoice</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>operatorDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>rightHandSideType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <leftValueReference>q_40d390ea_9e63_433c_b618_a8303d4334d0</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <elementReference>c_e8b6423c_151e_400b_aea5_90a164959af8</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <pausedText>Para seguir donde lo dejó, actualice esta página o abra la encuesta de nuevo.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_c5493c47_c059_4ae9_a8dc_0a1f53690f82</name>
        <label>Sugerencias y mejoras</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_6de7abe9_6177_4085_8683_d46b07cddcde_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>iconType</name>
                <value>
                    <stringValue>check</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>negativeLabel</name>
                <value>
                    <stringValue>{!q_6de7abe9_6177_4085_8683_d46b07cddcde_bnlref_tt}</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>positiveLabel</name>
                <value>
                    <stringValue>{!q_6de7abe9_6177_4085_8683_d46b07cddcde_bplref_tt}</stringValue>
                </value>
            </processMetadataValues>
            <name>q_6de7abe9_6177_4085_8683_d46b07cddcde</name>
            <dataType>Boolean</dataType>
            <extensionName>survey:runtimeBoolean</extensionName>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 12px; font-family: tahoma;&quot;&gt;14. ¿Te sientes informado/a sobre las actualizaciones y cambios que ocurren en Salesforce?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <helpText>Por favor, selecciona una de las siguientes opciones:</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_1ad4b39b_dd68_4953_a13b_1d7aa04fd601</name>
            <dataType>String</dataType>
            <extensionName>survey:runtimeShortText</extensionName>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 12px; font-family: tahoma;&quot;&gt;¿Sobre qué temas te gustaría estar informado o recibir actualizaciones?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <processMetadataValues>
                        <name>inputDataType</name>
                        <value>
                            <stringValue>Boolean</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>leftHandSideType</name>
                        <value>
                            <stringValue>Boolean</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>operatorDataType</name>
                        <value>
                            <stringValue>Boolean</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>rightHandSideType</name>
                        <value>
                            <stringValue>Boolean</stringValue>
                        </value>
                    </processMetadataValues>
                    <leftValueReference>q_6de7abe9_6177_4085_8683_d46b07cddcde</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_6610fff1_2001_4244_af9f_ba28afcfe6d9</name>
            <choiceReferences>c_a7fd251e_09b7_474a_a9aa_83705984058e</choiceReferences>
            <choiceReferences>c_6cf8fd5b_c136_4295_9461_4adba4cc6fd8</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 12px; font-family: tahoma;&quot;&gt;15. &lt;/strong&gt;&lt;strong style=&quot;font-family: tahoma;&quot;&gt;¿Identificas alguna función concreta que consideres que está ausente en Salesforce y que sería altamente beneficiosa para tu labor?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <helpText>Por favor, selecciona una de las siguientes opciones:</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_1392092e_6541_468b_9628_5a0ce8541988</name>
            <dataType>String</dataType>
            <extensionName>survey:runtimeShortText</extensionName>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-family: tahoma;&quot;&gt;Sí, me gustaría que se agregara...&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <processMetadataValues>
                        <name>inputDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>leftHandSideType</name>
                        <value>
                            <stringValue>RadioButton</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>operatorDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>rightHandSideType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <leftValueReference>q_6610fff1_2001_4244_af9f_ba28afcfe6d9</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>c_a7fd251e_09b7_474a_a9aa_83705984058e</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <pausedText>Para seguir donde lo dejó, actualice esta página o abra la encuesta de nuevo.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_cbc06f8e_0d6f_43d7_8d59_1f8782f85b18</name>
        <label>Conocimiento con la Herramienta</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_aad57e54_fcab_491a_86b6_40ebdfb6a635</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_5b00e0af_d5ce_46a5_992f_d145a6e0986b</name>
            <choiceReferences>c_14051a66_b9b8_4e9f_aeeb_a947cd2a2f4d</choiceReferences>
            <choiceReferences>c_f35a2701_60ac_49e3_87a5_a822a41f90ae</choiceReferences>
            <choiceReferences>c_043ad1bc_5bd0_4aab_a825_a1db233cfc66</choiceReferences>
            <choiceReferences>c_f17b57f6_0e38_4931_af0c_5aadd7b6a326</choiceReferences>
            <choiceReferences>c_853fefe5_24c9_4894_b664_a49ac4b07df9</choiceReferences>
            <choiceReferences>c_c2e84ec5_a626_4dac_b15b_8d00c605a86d</choiceReferences>
            <choiceReferences>c_a93e4a82_6829_4d83_9546_d55326e9957d</choiceReferences>
            <choiceReferences>c_e2d8595d_a415_46af_9f63_a4da5e03d18a</choiceReferences>
            <choiceReferences>c_a1cb49ac_4495_4c09_adaf_47d8de0c60c9</choiceReferences>
            <choiceReferences>c_8d3fd5f1_d57a_4289_ac7b_2aefa5f0bc3b</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimePicklist</extensionName>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-family: tahoma; font-size: 12px;&quot;&gt;1. ¿A qué equipo pertenece?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <helpText>Por favor, selecciona una de las siguientes opciones:</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_fb0bb12a_b332_4e5b_abd1_9aa5d922e9ff</name>
            <dataType>String</dataType>
            <extensionName>survey:runtimeShortText</extensionName>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-family: tahoma;&quot;&gt;Si anteriormente escogió &quot;Otro&quot;, indique el nombre de su equipo&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <processMetadataValues>
                        <name>inputDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>leftHandSideType</name>
                        <value>
                            <stringValue>Picklist</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>operatorDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>rightHandSideType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <leftValueReference>q_5b00e0af_d5ce_46a5_992f_d145a6e0986b</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>c_8d3fd5f1_d57a_4289_ac7b_2aefa5f0bc3b</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_25881d44_985e_4930_895e_96ab9c50b230</name>
            <choiceReferences>c_2d00d955_2b44_447a_abda_1308c0e85616</choiceReferences>
            <choiceReferences>c_06b6b2ba_a091_4fba_959a_37329f6aea83</choiceReferences>
            <choiceReferences>c_a7bd593c_eef4_40be_ae00_e955f8606925</choiceReferences>
            <choiceReferences>c_520987b1_2c50_4dc5_aae4_103455f15574</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-family: tahoma;&quot;&gt;2. ¿Desde cuándo eres usuario Salesforce?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <helpText>Por favor, selecciona una de las siguientes opciones:</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_25e58317_2684_4407_90bb_39efe82eb207</name>
            <choiceReferences>c_4fa3da75_bcbc_4406_896f_72bd75bf71c9</choiceReferences>
            <choiceReferences>c_675b6401_f4bc_4fdf_a691_a38725097374</choiceReferences>
            <choiceReferences>c_29732591_13ac_4577_a579_1025f80cede0</choiceReferences>
            <choiceReferences>c_78c56050_9919_4d09_8e6b_c578dbef1e6e</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 12px; font-family: tahoma;&quot;&gt;3. ¿Con qué frecuencia utilizas Salesforce &lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;durante una semana típica?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <helpText>Por favor, selecciona una de las siguientes opciones:</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_8d82f840_65f4_4418_9847_57f9b3f81388</name>
            <dataType>String</dataType>
            <extensionName>survey:runtimeShortText</extensionName>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-family: tahoma;&quot;&gt;4. Podrías explicarnos brevemente, ¿a qué se debe esa frecuencia?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_e63e0d1a_f6d3_4cdf_9b8f_bf6be26efbf9</name>
            <choiceReferences>c_7d25fb72_d9be_4104_b822_47e939cd4b15</choiceReferences>
            <choiceReferences>c_8622a566_33fa_482f_b315_9edd5ce3dd42</choiceReferences>
            <choiceReferences>c_d8027f40_2238_4d63_b962_a4f00d4bd9d1</choiceReferences>
            <choiceReferences>c_8714acf6_fff7_482b_b048_5ae0639d316e</choiceReferences>
            <choiceReferences>c_e4676cfd_70e7_48cc_9155_e507a5e4a47b</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-family: tahoma;&quot;&gt;5. ¿Qué tan cómodo/a te s&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;ientes utilizando Salesforce?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <helpText>Por favor, selecciona una de las siguientes opciones:</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_3daef15e_cf09_4c84_ad5c_e9b45f3b18c8_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>iconType</name>
                <value>
                    <stringValue>check</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>negativeLabel</name>
                <value>
                    <stringValue>{!q_3daef15e_cf09_4c84_ad5c_e9b45f3b18c8_bnlref_tt}</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>positiveLabel</name>
                <value>
                    <stringValue>{!q_3daef15e_cf09_4c84_ad5c_e9b45f3b18c8_bplref_tt}</stringValue>
                </value>
            </processMetadataValues>
            <name>q_3daef15e_cf09_4c84_ad5c_e9b45f3b18c8</name>
            <dataType>Boolean</dataType>
            <extensionName>survey:runtimeBoolean</extensionName>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-family: tahoma;&quot;&gt;6. ¿Consideras que Sal&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;esforce facilita la ejecución de tus actividades?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <helpText>Por favor, selecciona una de las siguientes opciones:</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_c596d2be_32bd_4f74_8b58_b93bebaab0c8</name>
            <dataType>String</dataType>
            <extensionName>survey:runtimeShortText</extensionName>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-family: tahoma; font-size: 12px;&quot;&gt;¿Por qué consideras que Salesforce facilita la ejecución de tus actividades diarias?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <processMetadataValues>
                        <name>inputDataType</name>
                        <value>
                            <stringValue>Boolean</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>leftHandSideType</name>
                        <value>
                            <stringValue>Boolean</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>operatorDataType</name>
                        <value>
                            <stringValue>Boolean</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>rightHandSideType</name>
                        <value>
                            <stringValue>Boolean</stringValue>
                        </value>
                    </processMetadataValues>
                    <leftValueReference>q_3daef15e_cf09_4c84_ad5c_e9b45f3b18c8</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_85630b0d_a85c_4af5_b0be_3043aa4863f7</name>
            <dataType>String</dataType>
            <extensionName>survey:runtimeShortText</extensionName>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 12px; font-family: tahoma;&quot;&gt;¿Por qué consideras que Salesforce no facilita la ejecución de tus actividades diarias?&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <processMetadataValues>
                        <name>inputDataType</name>
                        <value>
                            <stringValue>Boolean</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>leftHandSideType</name>
                        <value>
                            <stringValue>Boolean</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>operatorDataType</name>
                        <value>
                            <stringValue>Boolean</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>rightHandSideType</name>
                        <value>
                            <stringValue>Boolean</stringValue>
                        </value>
                    </processMetadataValues>
                    <leftValueReference>q_3daef15e_cf09_4c84_ad5c_e9b45f3b18c8</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_08250430_dd0d_4007_872a_6b345c56123b_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>iconType</name>
                <value>
                    <stringValue>check</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>negativeLabel</name>
                <value>
                    <stringValue>{!q_08250430_dd0d_4007_872a_6b345c56123b_bnlref_tt}</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>positiveLabel</name>
                <value>
                    <stringValue>{!q_08250430_dd0d_4007_872a_6b345c56123b_bplref_tt}</stringValue>
                </value>
            </processMetadataValues>
            <name>q_08250430_dd0d_4007_872a_6b345c56123b</name>
            <dataType>Boolean</dataType>
            <extensionName>survey:runtimeBoolean</extensionName>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-family: tahoma;&quot;&gt;7. ¿Te sientes capacitado para utilizar Salesforce?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <helpText>Por favor, selecciona una de las siguientes opciones:</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NEXT</stringValue>
                </value>
            </processMetadataValues>
            <name>q_f4f21494_d278_4f9c_a9ae_1b2cda9c9b75</name>
            <choiceReferences>c_0bb40d85_6ac9_4134_a89d_f2adbeecd1d9</choiceReferences>
            <choiceReferences>c_65a195e8_5b2f_4821_8fd8_55b5848e162e</choiceReferences>
            <choiceReferences>c_e794009f_54fc_474a_a9ac_9266ccf33a6f</choiceReferences>
            <choiceReferences>c_81b31d3c_f9ff_430a_9787_a79fe3e86997</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-family: tahoma;&quot;&gt;8. ¿Has recibido capacitación formal para utilizar Salesforce?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <helpText>Por favor, selecciona una de las siguientes opciones:</helpText>
            <isRequired>true</isRequired>
        </fields>
        <pausedText>Para seguir donde lo dejó, actualice esta página o abra la encuesta de nuevo.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>welcome_page</name>
        <label>Página de bienvenida</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>p_cbc06f8e_0d6f_43d7_8d59_1f8782f85b18</targetReference>
        </connector>
        <fields>
            <name>welcome_question</name>
            <extensionName>survey:runtimeWelcome</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>{!welcome_question_lref_tt}</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>description</name>
                <value>
                    <stringValue>{!welcome_question_dref_tt}</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>pageNamesInOrder_Assignment</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>q_08250430_dd0d_4007_872a_6b345c56123b_bnlref_tt</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>No</text>
    </textTemplates>
    <textTemplates>
        <name>q_08250430_dd0d_4007_872a_6b345c56123b_bplref_tt</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Si</text>
    </textTemplates>
    <textTemplates>
        <name>q_3daef15e_cf09_4c84_ad5c_e9b45f3b18c8_bnlref_tt</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>No</text>
    </textTemplates>
    <textTemplates>
        <name>q_3daef15e_cf09_4c84_ad5c_e9b45f3b18c8_bplref_tt</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Si</text>
    </textTemplates>
    <textTemplates>
        <name>q_6de7abe9_6177_4085_8683_d46b07cddcde_bnlref_tt</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>No</text>
    </textTemplates>
    <textTemplates>
        <name>q_6de7abe9_6177_4085_8683_d46b07cddcde_bplref_tt</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Si</text>
    </textTemplates>
    <textTemplates>
        <name>q_6dea797a_ecac_43a5_b263_86ecebafbb4b_bnlref_tt</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>No</text>
    </textTemplates>
    <textTemplates>
        <name>q_6dea797a_ecac_43a5_b263_86ecebafbb4b_bplref_tt</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Si</text>
    </textTemplates>
    <textTemplates>
        <name>q_a64bc21a_31dd_4342_bdac_aefb37c940a1_bnlref_tt</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>No</text>
    </textTemplates>
    <textTemplates>
        <name>q_a64bc21a_31dd_4342_bdac_aefb37c940a1_bplref_tt</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Si</text>
    </textTemplates>
    <textTemplates>
        <name>thankYouDescriptionTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Para seguir mejorando nuestros servicios, te invitamos a compartir tus opiniones cada seis meses en futuras ediciones.</text>
    </textTemplates>
    <textTemplates>
        <name>thankYouLabelTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px; font-family: verdana;&quot;&gt;¡Agradecemos tus respuestas!&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px; font-family: verdana;&quot;&gt;En SQM, reconocemos que el éxito de Salesforce radica en la colaboración de todos. Tus impresiones son de gran importancia para nosotros.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px; font-family: verdana;&quot;&gt;Ayúdanos a convertir Salesforce en tu aliado, para así alcanzar juntos nuestros objetivos.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px; font-family: verdana;&quot;&gt;Gerencia de Tecnología y Digitalización&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 12px; font-family: verdana;&quot;&gt;Digital &amp;amp; Analytics Corporativo&lt;/strong&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>welcome_question_dref_tt</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>¡Tu opinión es crucial! Ayúdanos completando la encuesta. Es anónima y no te tomará más de 10 minutos. Colabora con nosotros para construir nuestro CRM juntos.

Gerencia de Tecnología y Digitalización
Digital &amp; Analytics Corporativo</text>
    </textTemplates>
    <textTemplates>
        <name>welcome_question_lref_tt</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-family: tahoma; font-size: 16px;&quot;&gt;En SQM, nos enorgullece contar con uno de los CRM más completos y avanzados del mercado para nuestros usuarios: Salesforce. Es por lo anterior y nuestro compromiso con la mejora continua, que deseamos conocer tu opinión y percepción sobre nuestra herramienta. Con el propósito de aprovechar al máximo sus características, optimizar sus procesos y, sobre todo, convertirla en un valioso apoyo para vuestras gestiones. En este sentido, valoramos enormemente tu colaboración para transformar a Salesforce en el CRM de SQM&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-family: tahoma; font-size: 18px;&quot;&gt;¡Gracias por tu participación!&lt;/strong&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>guestUserLang</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>invitationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>pageNamesInOrder</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>previewMode</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>thankYouDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouDescriptionTextTemplate}</stringValue>
        </value>
    </variables>
    <variables>
        <name>thankYouLabel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouLabelTextTemplate}</stringValue>
        </value>
    </variables>
    <variables>
        <name>var_q_08250430_dd0d_4007_872a_6b345c56123b_defaultValue</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_q_3daef15e_cf09_4c84_ad5c_e9b45f3b18c8_defaultValue</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_q_6de7abe9_6177_4085_8683_d46b07cddcde_defaultValue</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_q_6dea797a_ecac_43a5_b263_86ecebafbb4b_defaultValue</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_q_a64bc21a_31dd_4342_bdac_aefb37c940a1_defaultValue</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
