force-app/main/default/flows/ExpiringQuotesEmailNotification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SendEmail</name>
        <label>SendEmail</label>
        <locationX>534</locationX>
        <locationY>3180</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>CleanBody</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>LoopQuotes.Owner:User.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>You have quotes about to expire.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>AddCheckedOwner</name>
        <label>AddCheckedOwner</label>
        <locationX>534</locationX>
        <locationY>792</locationY>
        <assignmentItems>
            <assignToReference>varCheckedOwners</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopQuotes.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddStyles</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddFourDayExpHeader</name>
        <label>AddFourDayExpHeader</label>
        <locationX>402</locationX>
        <locationY>2472</locationY>
        <assignmentItems>
            <assignToReference>Body</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;h4&gt;The following quote(s) will expire in less than 4 days. Please get in touch with your client(s) to update the status of your quotes before they become Invalid.&lt;/h4&gt;&lt;table&gt;&lt;th&gt;Quote Number&lt;/th&gt;&lt;th&gt;Net Amount&lt;/th&gt;&lt;th&gt;Volume&lt;/th&gt;&lt;th&gt;Average Price&lt;/th&gt;&lt;th&gt;Product Grade&lt;/th&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_FourDaysExpQuotes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddFourDaysExpQuotes</name>
        <label>AddFourDaysExpQuotes</label>
        <locationX>490</locationX>
        <locationY>2688</locationY>
        <assignmentItems>
            <assignToReference>Body</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;tr&gt;&lt;td&gt;&lt;a href=&quot;{!varUrl}lightning.force.com/lightning/r/SBQQ__Quote__c/{!Loop_FourDaysExpQuotes.Id}/view&quot;&gt;{!Loop_FourDaysExpQuotes.Name}&lt;/a&gt;&lt;/td&gt;&lt;td&gt;{!Loop_FourDaysExpQuotes.CurrencyIsoCode} {!Loop_FourDaysExpQuotes.SBQQ__NetAmount__c}&lt;/td&gt;&lt;td&gt;{!Loop_FourDaysExpQuotes.Volume__c}&lt;/td&gt;&lt;td&gt;{!Loop_FourDaysExpQuotes.CurrencyIsoCode} {!Loop_FourDaysExpQuotes.Average_Price__c}&lt;/td&gt;&lt;td&gt;{!Loop_FourDaysExpQuotes.Product_Grade__c}&lt;/td&gt;&lt;/tr&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_FourDaysExpQuotes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddOneDayExpHeader</name>
        <label>AddOneDayExpHeader</label>
        <locationX>402</locationX>
        <locationY>1440</locationY>
        <assignmentItems>
            <assignToReference>Body</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;h4&gt;The following quote(s) will expire tomorrow. Please update the status of your quotes to either Accepted or Rejected before the become Invalid.&lt;/h4&gt;&lt;table&gt;&lt;th&gt;Quote Number&lt;/th&gt;&lt;th&gt;Net Amount&lt;/th&gt;&lt;th&gt;Volume&lt;/th&gt;&lt;th&gt;Average Price&lt;/th&gt;&lt;th&gt;Product Grade&lt;/th&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_OneDayExpQuotes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddOneDayExpQuotes</name>
        <label>AddOneDayExpQuotes</label>
        <locationX>490</locationX>
        <locationY>1656</locationY>
        <assignmentItems>
            <assignToReference>Body</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;tr&gt;&lt;td&gt;&lt;a href=&quot;{!varUrl}lightning.force.com/lightning/r/SBQQ__Quote__c/{!Loop_OneDayExpQuotes.Id}/view&quot;&gt;{!Loop_OneDayExpQuotes.Name}&lt;/a&gt;&lt;/td&gt;&lt;td&gt;{!Loop_OneDayExpQuotes.CurrencyIsoCode} {!Loop_OneDayExpQuotes.SBQQ__NetAmount__c}&lt;/td&gt;&lt;td&gt;{!Loop_OneDayExpQuotes.Volume__c}&lt;/td&gt;&lt;td&gt;{!Loop_OneDayExpQuotes.CurrencyIsoCode} {!Loop_OneDayExpQuotes.Average_Price__c}&lt;/td&gt;&lt;/td&gt;&lt;td&gt;{!Loop_OneDayExpQuotes.Product_Grade__c}&lt;/td&gt;&lt;/tr&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_OneDayExpQuotes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddStyles</name>
        <label>AddStyles</label>
        <locationX>534</locationX>
        <locationY>900</locationY>
        <assignmentItems>
            <assignToReference>Body</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;style&gt;*{font-family: Arial}h2{font-weight: normal;}h4{font-weight: normal; font-size: 16px}table{padding: 10px; background: #ebebec; -webkit-border-radius: 10px;border-radius: 10px;}td{padding: 10px}th{text-align: left;padding: 10px; color: #003b7c}tr{color: #78777C}a{color: #78777C}.header{width: 100%; height: 10px;background: #003b7c; margin-top: 20px; margin-bottom: 50px}.footer{width: 100%; height: 100px; margin-top: 50px; background: #80bc00}.container{padding-left: 30px}.disclaimer{font-size: 12px; color: #ffffff; text-align: center; padding-top: 20px}.rights{font-weight: bold; font-size: 12px; color: #ffffff; text-align: right; margin-right: 20px}&lt;/style&gt; &lt;div class=&quot;header&quot;&gt;&lt;p style=&quot;color: #003b7c; font-size:6px&quot;&gt;&amp;nbsp&amp;nbsp&lt;/p&gt;&lt;/div&gt; &lt;div class=&quot;container&quot; style=&quot;padding-left: 30px&quot;&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddTittle</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddTittle</name>
        <label>AddTittle</label>
        <locationX>534</locationX>
        <locationY>1008</locationY>
        <assignmentItems>
            <assignToReference>Body</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;h2&gt;Dear {!LoopQuotes.Owner:User.FirstName},&lt;/h2&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Quotes_ExpOneDay</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CleanBody</name>
        <label>Clean</label>
        <locationX>534</locationX>
        <locationY>3288</locationY>
        <assignmentItems>
            <assignToReference>Body</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>LoopQuotes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CloseFourDayTable</name>
        <label>CloseFourDayTable</label>
        <locationX>402</locationX>
        <locationY>2880</locationY>
        <assignmentItems>
            <assignToReference>Body</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;/table&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FinishBody</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CloseOneDayTable</name>
        <label>CloseOneDayTable</label>
        <locationX>402</locationX>
        <locationY>1848</locationY>
        <assignmentItems>
            <assignToReference>Body</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;/table&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Quotes_ExpFourDays</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CountRecordsFourDays</name>
        <label>CountRecordsFourDays</label>
        <locationX>534</locationX>
        <locationY>2256</locationY>
        <assignmentItems>
            <assignToReference>varRecordCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Quotes_ExpFourDays</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IsQuotesExpFourDaysEmpty</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CountRecordsOneDay</name>
        <label>CountRecordsOneDay</label>
        <locationX>534</locationX>
        <locationY>1224</locationY>
        <assignmentItems>
            <assignToReference>varRecordCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Quotes_ExpOneDay</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IsQuotesExpOneDayEmpty</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>FinishBody</name>
        <label>FinishBody</label>
        <locationX>534</locationX>
        <locationY>3072</locationY>
        <assignmentItems>
            <assignToReference>Body</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;/div&gt;&lt;div class=&quot;footer&quot;&gt;&lt;p style=&quot;color: #003b7c; font-size:6px&quot;&gt;&amp;nbsp&amp;nbsp&lt;/p&gt;&lt;p class=&quot;disclaimer&quot;&gt;This is an automatically generated e‑mail by Salesforce for informational purposes. Please do not reply to this email.&lt;br&gt;© All rights reserved (2023) SQM S.A.&lt;/p&gt;&lt;br&gt;&lt;/div&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SendEmail</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>GetUrl</name>
        <label>GetUrl</label>
        <locationX>50</locationX>
        <locationY>468</locationY>
        <assignmentItems>
            <assignToReference>varUrl</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frmGetUrl</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopQuotes</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Quotes_ExpFourDays</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>QuotesExpFourDays</label>
        <locationX>534</locationX>
        <locationY>2040</locationY>
        <assignNextValueToReference>currentItem_Quotes_ExpFourDays</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>GetQuotes</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Quotes_ExpFourDays.OwnerId</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>LoopQuotes.OwnerId</elementReference>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Quotes_ExpFourDays.SBQQ__ExpirationDate__c</leftValueReference>
            <operator>LessThanOrEqualTo</operator>
            <rightValue>
                <elementReference>frmDateFourDays</elementReference>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Quotes_ExpFourDays.SBQQ__ExpirationDate__c</leftValueReference>
            <operator>GreaterThan</operator>
            <rightValue>
                <elementReference>frmDateOneDay</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>SortByExpirationDate</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Quotes_ExpOneDay</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>QuotesExpOneDay</label>
        <locationX>534</locationX>
        <locationY>1116</locationY>
        <assignNextValueToReference>currentItem_Quotes_ExpOneDay</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>GetQuotes</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Quotes_ExpOneDay.OwnerId</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>LoopQuotes.OwnerId</elementReference>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Quotes_ExpOneDay.SBQQ__ExpirationDate__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>frmDateOneDay</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>CountRecordsOneDay</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>SortByExpirationDate</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>SortByExpirationDate</label>
        <locationX>534</locationX>
        <locationY>2148</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>Quotes_ExpFourDays</collectionReference>
        <connector>
            <targetReference>CountRecordsFourDays</targetReference>
        </connector>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>SBQQ__ExpirationDate__c</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <decisions>
        <name>isOwnerChecked</name>
        <label>isOwnerChecked</label>
        <locationX>336</locationX>
        <locationY>684</locationY>
        <defaultConnector>
            <targetReference>AddCheckedOwner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Unchecked</defaultConnectorLabel>
        <rules>
            <name>Checked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCheckedOwners</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>LoopQuotes.OwnerId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopQuotes</targetReference>
            </connector>
            <label>Checked</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsQuotesExpFourDaysEmpty</name>
        <label>IsQuotesExpFourDaysEmpty</label>
        <locationX>534</locationX>
        <locationY>2364</locationY>
        <defaultConnector>
            <targetReference>FinishBody</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Empty</defaultConnectorLabel>
        <rules>
            <name>NotEmpty_FourDays</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRecordCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddFourDayExpHeader</targetReference>
            </connector>
            <label>NotEmpty</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsQuotesExpOneDayEmpty</name>
        <label>IsQuotesExpOneDayEmpty</label>
        <locationX>534</locationX>
        <locationY>1332</locationY>
        <defaultConnector>
            <targetReference>Quotes_ExpFourDays</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Empty</defaultConnectorLabel>
        <rules>
            <name>NotEmpty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRecordCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddOneDayExpHeader</targetReference>
            </connector>
            <label>NotEmpty</label>
        </rules>
    </decisions>
    <decisions>
        <name>RecordsObtained</name>
        <label>RecordsObtained</label>
        <locationX>182</locationX>
        <locationY>360</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetQuotes</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetUrl</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Flow que envía un correo a Sales Managers que tienen quotes por vencer en los próximos 1 ó 4 días.</description>
    <environments>Default</environments>
    <formulas>
        <name>frmDateFourDays</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 4</expression>
    </formulas>
    <formulas>
        <name>frmDateOneDay</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 1</expression>
    </formulas>
    <formulas>
        <name>frmGetUrl</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_260}, FIND(&quot;my&quot;, {!$Api.Partner_Server_URL_260}) - 1)</expression>
    </formulas>
    <interviewLabel>ExpiringQuotesEmailNotification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ExpiringQuotesEmailNotification</label>
    <loops>
        <name>Loop_FourDaysExpQuotes</name>
        <label>LoopFourDaysExpQuotes</label>
        <locationX>402</locationX>
        <locationY>2580</locationY>
        <collectionReference>Quotes_ExpFourDays</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AddFourDaysExpQuotes</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CloseFourDayTable</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_OneDayExpQuotes</name>
        <label>LoopOneDayExpQuotes</label>
        <locationX>402</locationX>
        <locationY>1548</locationY>
        <collectionReference>Quotes_ExpOneDay</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AddOneDayExpQuotes</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CloseOneDayTable</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopQuotes</name>
        <label>LoopQuotes</label>
        <locationX>50</locationX>
        <locationY>576</locationY>
        <collectionReference>GetQuotes</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>isOwnerChecked</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetQuotes</name>
        <label>GetQuotes</label>
        <locationX>182</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RecordsObtained</targetReference>
        </connector>
        <filterLogic>(1 AND 2) AND (3 OR 4 OR 5)</filterLogic>
        <filters>
            <field>SBQQ__ExpirationDate__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>frmDateFourDays</elementReference>
            </value>
        </filters>
        <filters>
            <field>SBQQ__ExpirationDate__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>frmDateOneDay</elementReference>
            </value>
        </filters>
        <filters>
            <field>SBQQ__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </filters>
        <filters>
            <field>SBQQ__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In Review</stringValue>
            </value>
        </filters>
        <filters>
            <field>SBQQ__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Presented</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__Quote__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>SBQQ__CustomerAmount__c</queriedFields>
        <queriedFields>SBQQ__ExpirationDate__c</queriedFields>
        <queriedFields>CurrencyIsoCode</queriedFields>
        <queriedFields>Product_Grade__c</queriedFields>
        <queriedFields>SBQQ__NetAmount__c</queriedFields>
        <queriedFields>Volume__c</queriedFields>
        <queriedFields>Average_Price__c</queriedFields>
        <sortField>OwnerId</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetQuotes</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-11-07</startDate>
            <startTime>08:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>EmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Test&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>Body</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentItem_Quotes_ExpFourDays</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__Quote__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Quotes_ExpOneDay</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__Quote__c</objectType>
    </variables>
    <variables>
        <name>varCheckedOwners</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRecordCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varUrl</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
