force-app/main/default/flows/NotificationProcessAfterSave_ShareRecord.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>assign_addNotificationProcessShare</name>
        <label>assign_addNotificationProcessShare</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>sObject_NotificationProcessShareCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sObject_NotificationProcessShare</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Notification_Process_Sharing</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_NotificationProcessShare</name>
        <label>assign_NotificationProcessShare</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignmentItems>
            <assignToReference>sObject_NotificationProcessShare.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObject_NotificationProcessShare.UserOrGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Technical_Manager__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObject_NotificationProcessShare.RowCause</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObject_NotificationProcessShare.AccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_addNotificationProcessShare</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>NotificationProcessAfterSave_ShareRecord {!$Flow.CurrentDateTime}</interviewLabel>
    <label>NotificationProcessAfterSave_ShareRecord</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Notification_Process_Sharing</name>
        <label>Create Notification Process Sharing</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <inputReference>sObject_NotificationProcessShareCollection</inputReference>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>assign_NotificationProcessShare</targetReference>
        </connector>
        <object>Notification_Process__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>sObject_NotificationProcessShare</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Notification_Process__Share</objectType>
    </variables>
    <variables>
        <name>sObject_NotificationProcessShareCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Notification_Process__Share</objectType>
    </variables>
</Flow>
