force-app/main/default/flows/NotificationSLASchedulledFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>action_SendBellNotification</name>
        <label>action_SendBellNotification</label>
        <locationX>314</locationX>
        <locationY>876</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>check_HasFinal</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>get_CustomNotificationType.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>var_RecipientCollectionId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>get_First_Notification_Setting.Notification_Title__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>get_First_Notification_Setting.Notification_Body__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>var_recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>sendEmailAction</name>
        <label>sendEmailAction</label>
        <locationX>314</locationX>
        <locationY>1284</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>var_RecipientCollectionEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>get_Final_Notification_Setting.Notification_Title__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>formula_finalBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>assign_NotificationGroupValues</name>
        <label>assign_NotificationGroupValues</label>
        <locationX>314</locationX>
        <locationY>360</locationY>
        <assignmentItems>
            <assignToReference>var_RecipientCollectionEmail</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Notification_Group__r.Owner__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_recordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Notification_Group__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_recordOwnerName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Notification_Group__r.Owner__r.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_RecipientCollectionId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Notification_Group__r.Owner__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_RecipientCollectionEmail</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Notification_Group__r.Notification_Process__r.Owner:User.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_RecipientCollectionId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Notification_Group__r.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>check_HasFirst</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_NotificationProcessValues</name>
        <label>assign_NotificationProcessValues</label>
        <locationX>50</locationX>
        <locationY>360</locationY>
        <assignmentItems>
            <assignToReference>var_RecipientCollectionEmail</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Notification_Process__r.Owner:User.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_RecipientCollectionEmail</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Notification_Process__r.Technical_Manager__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_recordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Notification_Process__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_recordOwnerName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Notification_Process__r.Owner:User.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_RecipientCollectionId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Notification_Process__r.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_RecipientCollectionId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Notification_Process__r.Technical_Manager__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>check_HasFirst</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_NotificationTaskValues</name>
        <label>assign_NotificationTaskValues</label>
        <locationX>578</locationX>
        <locationY>360</locationY>
        <assignmentItems>
            <assignToReference>var_RecipientCollectionEmail</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Notification_Task__r.Owner:User.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_recordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Notification_Task__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_recordOwnerName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Notification_Task__r.Owner:User.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_RecipientCollectionId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Notification_Task__r.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_RecipientCollectionEmail</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Notification_Task__r.Notification_Group__r.Notification_Process__r.Owner:User.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_RecipientCollectionId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Notification_Task__r.Notification_Group__r.Notification_Process__r.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>check_HasFirst</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>const_DaysToFirstNotification</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>const_DaysToLastNotification</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </constants>
    <decisions>
        <name>check_HasFinal</name>
        <label>check_HasFinal</label>
        <locationX>446</locationX>
        <locationY>1068</locationY>
        <defaultConnectorLabel>HasFinal_NO</defaultConnectorLabel>
        <rules>
            <name>HasFinal_YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Notification_SLA_Check_Final__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_Final_Notification_Setting</targetReference>
            </connector>
            <label>HasFinal_YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_HasFirst</name>
        <label>check_HasFirst</label>
        <locationX>446</locationX>
        <locationY>552</locationY>
        <defaultConnector>
            <targetReference>check_HasFinal</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>HasFirst_NO</defaultConnectorLabel>
        <rules>
            <name>HasFirst_YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Notification_SLA_Check_First__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_First_Notification_Setting</targetReference>
            </connector>
            <label>HasFirst_YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_ObjectType</name>
        <label>check_ObjectType</label>
        <locationX>446</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsNotificationProcess</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Notification_Process__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_NotificationProcessValues</targetReference>
            </connector>
            <label>IsNotificationProcess</label>
        </rules>
        <rules>
            <name>IsNotificationGroup</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Notification_Group__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_NotificationGroupValues</targetReference>
            </connector>
            <label>IsNotificationGroup</label>
        </rules>
        <rules>
            <name>IsNotificationTask</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Notification_Task__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_NotificationTaskValues</targetReference>
            </connector>
            <label>IsNotificationTask</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>formula_dateToNotifiy</name>
        <dataType>Date</dataType>
        <expression>TODAY() + {!const_DaysToLastNotification}</expression>
    </formulas>
    <formulas>
        <name>formula_finalBody</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(
SUBSTITUTE(
SUBSTITUTE({!get_Final_Notification_Setting.Notification_Body__c}, &apos;%USER%&apos;, {!var_recordOwnerName})
, &apos;%EXPECTED%&apos;, TEXT({!$Record.Notification_SLA_Date_Expected__c}))
, &apos;%RECORD%&apos;, {!var_recordId})</expression>
    </formulas>
    <interviewLabel>NotificationSLASchedulledFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>NotificationSLASchedulledFlow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_CustomNotificationType</name>
        <label>get_CustomNotificationType</label>
        <locationX>314</locationX>
        <locationY>768</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>action_SendBellNotification</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_First_Notification_Setting.Notification_Template__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Final_Notification_Setting</name>
        <label>get_Final Notification Setting</label>
        <locationX>314</locationX>
        <locationY>1176</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>sendEmailAction</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Notification_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Notification_SLA_Setting__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_First_Notification_Setting</name>
        <label>get_First Notification Setting</label>
        <locationX>314</locationX>
        <locationY>660</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_CustomNotificationType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Notification_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Bell</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Notification_SLA_Setting__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>check_ObjectType</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Notification_SLA_Check_Final__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Notification_SLA_Check_First__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Notification_SLA__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-11-01</startDate>
            <startTime>07:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>var_RecipientCollectionEmail</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_RecipientCollectionId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_recordOwnerName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
