force-app/main/default/flows/NotificationTaskAfterSave_SLATracking.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>assign_newNotificationSLA</name>
        <label>assign_newNotificationSLA</label>
        <locationX>50</locationX>
        <locationY>947</locationY>
        <assignmentItems>
            <assignToReference>var_sObjNotificationSLA.Notification_Task__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_sObjNotificationSLA.Notification_SLA_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_sObjNotificationSLA.Notification_SLA_Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_sObjNotificationSLA.Notification_SLA_Has_First__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Notification_Metadata.SLA_First_Notification__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_sObjNotificationSLA.Notification_SLA_Has_Final__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Notification_Metadata.SLA_Last_Notification__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_sObjNotificationSLA.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Notification_Metadata.Label</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_sObjNotificationSLA.Notification_SLA_Date_Start__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_today</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_sObjNotificationSLA.Notification_SLA_Date_Expected__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_expectedSLA</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>create_SLA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_SLA_Values</name>
        <label>assign_SLA Values</label>
        <locationX>50</locationX>
        <locationY>839</locationY>
        <assignmentItems>
            <assignToReference>var_CountOfDays</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Notification_Metadata.SLA_Duration_Days__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_CountOfHours</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Notification_Metadata.SLA_Duration_Hours__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_newNotificationSLA</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>const_NotificationTask</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Notification_Task__c</stringValue>
        </value>
    </constants>
    <decisions>
        <name>check_hasRecords</name>
        <label>check_hasRecords</label>
        <locationX>182</locationX>
        <locationY>731</locationY>
        <defaultConnectorLabel>HasRecords_NO</defaultConnectorLabel>
        <rules>
            <name>HasRecords_YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Notification_Metadata.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_SLA_Values</targetReference>
            </connector>
            <label>HasRecords_YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_IsNew</name>
        <label>check_IsNew</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Update_Pending_Notification_SLA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>IsNew_NO</defaultConnectorLabel>
        <rules>
            <name>IsNew_YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Notification_Metadata</targetReference>
            </connector>
            <label>IsNew_YES</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>formula_expectedSLA</name>
        <dataType>Date</dataType>
        <expression>CASE(
  MOD( (TODAY() + {!var_CountOfDays}) - DATE( 1900, 1, 8 ), 7 ),
  0, (TODAY() + {!var_CountOfDays}),
  1, (TODAY() + {!var_CountOfDays}),
  2, (TODAY() + {!var_CountOfDays}),
  3, (TODAY() + {!var_CountOfDays}),
  4, (TODAY() + {!var_CountOfDays}),
  5, (TODAY() + {!var_CountOfDays}) + 2,
  (TODAY() + {!var_CountOfDays}) + 1
)</expression>
    </formulas>
    <formulas>
        <name>formula_IsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>formula_today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>NotificationTaskAfterSave_SLATracking {!$Flow.CurrentDateTime}</interviewLabel>
    <label>NotificationTaskAfterSave_SLATracking</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>create_SLA</name>
        <label>create_SLA</label>
        <locationX>50</locationX>
        <locationY>1055</locationY>
        <inputReference>var_sObjNotificationSLA</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Notification_Metadata</name>
        <label>Get_Notification Metadata</label>
        <locationX>182</locationX>
        <locationY>623</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_hasRecords</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SLA_Object__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>const_NotificationTask</elementReference>
            </value>
        </filters>
        <filters>
            <field>SLA_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Type__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SLA_Value__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Status__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Notification_SLA_Metadata__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Pending_Notification_SLA</name>
        <label>Update_Pending Notification SLA</label>
        <locationX>270</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Get_Notification_Metadata</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Notification_SLA_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Type__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Notification_SLA_Value__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.Status__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Notification_SLA_Date_End__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Notification_SLA_Date_End__c</field>
            <value>
                <elementReference>formula_today</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.NotificationTask_SLAs__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>check_IsNew</targetReference>
        </connector>
        <filterFormula>OR (
ISNEW(),
ISCHANGED({!$Record.Status__c})
)</filterFormula>
        <object>Notification_Task__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>var_CountOfDays</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_CountOfHours</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_sObjNotificationSLA</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Notification_SLA__c</objectType>
    </variables>
</Flow>
