force-app/main/default/flows/NotificationProcessAfterSave_NewNotificationProcessWhenRejected.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>assign_NewNotificationProcess</name>
        <label>assign_NewNotificationProcess</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignmentItems>
            <assignToReference>sObject_NotificationProcess.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObject_NotificationProcess.Technical_Manager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Technical_Manager__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObject_NotificationProcess.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObject_NotificationProcess.Type_of_Change__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Type_of_Change__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObject_NotificationProcess.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObject_NotificationProcess.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObject_NotificationProcess.Parent_Notification_Process__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObject_NotificationProcess.ParentNotificationRejected__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObject_NotificationProcess.Deadline_For_Response__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Deadline_For_Response__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_NewNotificationProcess</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>NotificationProcessAfterSave_NewNotificationProcessWhenRejected {!$Flow.CurrentDateTime}</interviewLabel>
    <label>NotificationProcessAfterSave_NewNotificationProcessWhenRejected</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_NewNotificationProcess</name>
        <label>Create_NewNotificationProcess</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <inputReference>sObject_NotificationProcess</inputReference>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>assign_NewNotificationProcess</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Notification Rejected</stringValue>
            </value>
        </filters>
        <object>Notification_Process__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>sObject_NotificationProcess</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Notification_Process__c</objectType>
    </variables>
</Flow>
