force-app/main/default/flows/NotificationProcessAfterSave_CreateNotificationGroup.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Add_ownerid_to_collection</name>
        <label>Add ownerid to collection</label>
        <locationX>440</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>ownerIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_accounts.Owner.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_accounts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_addNotificationGroupShareForProcessOwner</name>
        <label>assign_addNotificationGroupShareForProcessOwner</label>
        <locationX>264</locationX>
        <locationY>1763</locationY>
        <assignmentItems>
            <assignToReference>sObject_NotificationGroupShareCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sObject_NotificationGroupShare</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_NotificationGroupShareForTechnicalUser</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_addNotificationGroupShareForTechnicalUser</name>
        <label>assign_addNotificationGroupShareForTechnicalUser</label>
        <locationX>264</locationX>
        <locationY>1979</locationY>
        <assignmentItems>
            <assignToReference>sObject_NotificationGroupShareCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sObject_NotificationGroupShare</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_NotificationGroupShare</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_AddNotificationProcessCollection</name>
        <label>assign_AddNotificationProcessCollection</label>
        <locationX>264</locationX>
        <locationY>1247</locationY>
        <assignmentItems>
            <assignToReference>sObject_NotificationGroupCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sObject_NotificationGroup</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Every_Sales_Manager</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_addNotificationProcessShare</name>
        <label>assign_addNotificationProcessShare</label>
        <locationX>264</locationX>
        <locationY>2495</locationY>
        <assignmentItems>
            <assignToReference>sObject_NotificationProcessShareCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sObject_NotificationProcessShare</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_NotificationProcessShare</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_NotificationGroupShareForProcessOwner</name>
        <label>assign_NotificationGroupShareForProcessOwner</label>
        <locationX>264</locationX>
        <locationY>1655</locationY>
        <assignmentItems>
            <assignToReference>sObject_NotificationGroupShare.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_NotificationGroupShare.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObject_NotificationGroupShare.UserOrGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_NotificationGroupShare.Notification_Process__r.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObject_NotificationGroupShare.RowCause</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObject_NotificationGroupShare.AccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_addNotificationGroupShareForProcessOwner</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_NotificationGroupShareForTechnicalUser</name>
        <label>assign_NotificationGroupShareForTechnicalUser</label>
        <locationX>264</locationX>
        <locationY>1871</locationY>
        <assignmentItems>
            <assignToReference>sObject_NotificationGroupShare.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_NotificationGroupShare.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObject_NotificationGroupShare.UserOrGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_NotificationGroupShare.Notification_Process__r.Technical_Manager__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObject_NotificationGroupShare.RowCause</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObject_NotificationGroupShare.AccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_addNotificationGroupShareForTechnicalUser</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_NotificationProcessShare</name>
        <label>assign_NotificationProcessShare</label>
        <locationX>264</locationX>
        <locationY>2387</locationY>
        <assignmentItems>
            <assignToReference>sObject_NotificationProcessShare.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_NotificationProcessShare.Notification_Process__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObject_NotificationProcessShare.UserOrGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_NotificationProcessShare.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObject_NotificationProcessShare.RowCause</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObject_NotificationProcessShare.AccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_addNotificationProcessShare</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assigne_NewNotificationProcess</name>
        <label>assigne_NewNotificationProcess</label>
        <locationX>264</locationX>
        <locationY>1139</locationY>
        <assignmentItems>
            <assignToReference>sObject_NotificationGroup.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_NotificationGroupName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObject_NotificationGroup.Notification_Process__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObject_NotificationGroup.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Created</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObject_NotificationGroup.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObject_NotificationGroup.Owner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Every_Sales_Manager.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObject_NotificationGroup.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Every_Sales_Manager.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_AddNotificationProcessCollection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Add_to_collection</name>
        <label>Add to collection</label>
        <locationX>352</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Add_ownerid_to_collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ownerIds</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>loop_accounts.Owner.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loop_accounts</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>formula_NotificationGroupName</name>
        <dataType>String</dataType>
        <expression>{!$Record.Name} + &apos;: &apos; + {!Every_Sales_Manager.Name}</expression>
    </formulas>
    <interviewLabel>NotificationProcess {!$Flow.CurrentDateTime}</interviewLabel>
    <label>NotificationProcessAfterSave_CreateNotificationGroup</label>
    <loops>
        <name>Every_Sales_Manager</name>
        <label>Every Sales Manager</label>
        <locationX>176</locationX>
        <locationY>1031</locationY>
        <collectionReference>Get_Sales_Manager</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assigne_NewNotificationProcess</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Notification_Group</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_accounts</name>
        <label>loop accounts</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>Get_Accounts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_to_collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Sales_Manager</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_NotificationGroupShare</name>
        <label>loop_NotificationGroupShare</label>
        <locationX>176</locationX>
        <locationY>1547</locationY>
        <collectionReference>sObject_NotificationGroupCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_NotificationGroupShareForProcessOwner</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Notification_Group_Share</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_NotificationProcessShare</name>
        <label>loop_NotificationProcessShare</label>
        <locationX>176</locationX>
        <locationY>2279</locationY>
        <collectionReference>sObject_NotificationGroupCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_NotificationProcessShare</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Notification_Process_Share</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Notification_Group</name>
        <label>Create Notification Group</label>
        <locationX>176</locationX>
        <locationY>1439</locationY>
        <connector>
            <targetReference>loop_NotificationGroupShare</targetReference>
        </connector>
        <inputReference>sObject_NotificationGroupCollection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Notification_Group_Share</name>
        <label>Create Notification Group Share</label>
        <locationX>176</locationX>
        <locationY>2171</locationY>
        <connector>
            <targetReference>loop_NotificationProcessShare</targetReference>
        </connector>
        <inputReference>sObject_NotificationGroupShareCollection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Notification_Process_Share</name>
        <label>Create Notification Process Share</label>
        <locationX>176</locationX>
        <locationY>2687</locationY>
        <connector>
            <targetReference>Send_Notification_to_Notification_Group</targetReference>
        </connector>
        <inputReference>sObject_NotificationProcessShareCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Accounts</name>
        <label>Get Accounts</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_accounts</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Sales_Manager</name>
        <label>Get Sales Manager</label>
        <locationX>176</locationX>
        <locationY>923</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Every_Sales_Manager</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>ownerIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Accounts</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <object>Notification_Process__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Send_Notification_to_Notification_Group</name>
        <label>Send Notification to Notification Group</label>
        <locationX>176</locationX>
        <locationY>2795</locationY>
        <flowName>Send_Notification_to_Group</flowName>
        <inputAssignments>
            <name>Triggering_Groups</name>
            <value>
                <elementReference>sObject_NotificationGroupCollection</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>ownerIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sObject_NotificationGroup</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Notification_Group__c</objectType>
    </variables>
    <variables>
        <name>sObject_NotificationGroupCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Notification_Group__c</objectType>
    </variables>
    <variables>
        <name>sObject_NotificationGroupShare</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Notification_Group__Share</objectType>
    </variables>
    <variables>
        <name>sObject_NotificationGroupShareCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Notification_Group__Share</objectType>
    </variables>
    <variables>
        <name>sObject_NotificationProcessShare</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Notification_Process__Share</objectType>
    </variables>
    <variables>
        <name>sObject_NotificationProcessShareCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Notification_Process__Share</objectType>
    </variables>
</Flow>
