force-app/main/default/flows/NotificationGroupScreenFlowForSecondSendNotification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Copy_1_of_sendEmailAllNotificationGroupApproval</name>
        <label>sendEmailAllNotificationGroupApproval</label>
        <locationX>380</locationX>
        <locationY>1082</locationY>
        <actionName>NotificationGroupSendController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>check_SendSuccesful</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>listOfNotificationTask</name>
            <value>
                <elementReference>Get_Notification_Tasks_Not_Sent</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>orgWideEmailAddressName</name>
            <value>
                <elementReference>var_EmailFromAddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>parentWhatId</name>
            <value>
                <elementReference>recordId.Notification_Process__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateName</name>
            <value>
                <elementReference>constant_TemplateName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>whatId</name>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>NotificationGroupSendController</nameSegment>
        <outputParameters>
            <assignToReference>var_apexErrorMessage</assignToReference>
            <name>errorMessage</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>var_apexResult</assignToReference>
            <name>isSuccess</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>var_apexListOfIds</assignToReference>
            <name>whatIds</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>assign_CountOfRecords</name>
        <label>assign_CountOfRecords</label>
        <locationX>858</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>var_CountOfRecords</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Notification_Tasks_Not_Sent</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>check_NotificationTaskToSend</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_NotificationTaskStatusSent</name>
        <label>assign_NotificationTaskStatusSent</label>
        <locationX>50</locationX>
        <locationY>1730</locationY>
        <assignmentItems>
            <assignToReference>var_NotificationStatusForTask</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Notification_Tasks_Sent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_OrgWideAddress</name>
        <label>assign_OrgWideAddress</label>
        <locationX>743</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>var_EmailFromAddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>constant_OrgWideAddressName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>screen_ConfirmSending</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_SalesUserAddress</name>
        <label>assign_SalesUserAddress</label>
        <locationX>479</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>var_EmailFromAddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Owner__r.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>screen_ConfirmSending</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>option_FromAddress_NO</name>
        <choiceText>Organization-Wide Addresses ({!constant_OrgWideAddressName})</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>option_FromAddress_YES</name>
        <choiceText>{!recordId.Owner:User.Email} (Accounts Owner)</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <choices>
        <name>OrgWideEmailAddress_canalsqm_sqm_com</name>
        <choiceText>OrgWideEmailAddress: canalsqm@sqm.com</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>canalsqm@sqm.com</stringValue>
        </value>
    </choices>
    <choices>
        <name>SalesManagerEmailAddress</name>
        <choiceText>Sales Manager Email Address: {!$User.Email}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>$User.Email</elementReference>
        </value>
    </choices>
    <constants>
        <name>constant_OrgWideAddressName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Contacto SQM</stringValue>
        </value>
    </constants>
    <constants>
        <name>constant_TemplateName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>NotificationTemplateForSecondEmailWithApproval</stringValue>
        </value>
    </constants>
    <constants>
        <name>constant_TemplateNameWhithApproval</name>
        <dataType>String</dataType>
        <value>
            <stringValue>NotificationTemplateForClientsWhithApproval</stringValue>
        </value>
    </constants>
    <decisions>
        <name>check_EmailFromAddress</name>
        <label>check_EmailFromAddress</label>
        <locationX>611</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>assign_OrgWideAddress</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>SaleUserAddress_NO</defaultConnectorLabel>
        <rules>
            <name>SaleUserAddress_YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>radio_FromAddress</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_SalesUserAddress</targetReference>
            </connector>
            <label>SaleUserAddress_YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_NotificationGroupType</name>
        <label>check_NotificationGroupType</label>
        <locationX>182</locationX>
        <locationY>1514</locationY>
        <defaultConnectorLabel>Other Type</defaultConnectorLabel>
        <rules>
            <name>isWithApproval</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>With Approval</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Notifciation_Group_With_Approval</targetReference>
            </connector>
            <label>isWithApproval</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_NotificationTaskToSend</name>
        <label>check_NotificationTaskToSend</label>
        <locationX>858</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>screen_NoRecordsToSend</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>noRecords</defaultConnectorLabel>
        <rules>
            <name>withRecords</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_CountOfRecords</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screen_SelectFromAddress</targetReference>
            </connector>
            <label>withRecords</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_SendSuccesful</name>
        <label>check_SendSuccesful</label>
        <locationX>380</locationX>
        <locationY>1190</locationY>
        <defaultConnector>
            <targetReference>screen_SendEmailFailure</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>SendFailure</defaultConnectorLabel>
        <rules>
            <name>SendSucess</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_apexResult</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Notification_Tasks_Sent</targetReference>
            </connector>
            <label>SendSucess</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_TypeNotification</name>
        <label>check_TypeNotification</label>
        <locationX>611</locationX>
        <locationY>974</locationY>
        <defaultConnectorLabel>Other Type</defaultConnectorLabel>
        <rules>
            <name>isWithApprovalNotification</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>With Approval</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_sendEmailAllNotificationGroupApproval</targetReference>
            </connector>
            <label>isWithApprovalNotification</label>
        </rules>
    </decisions>
    <description>Second email notification with approval</description>
    <environments>Default</environments>
    <formulas>
        <name>DeadlineForResponse</name>
        <dataType>Date</dataType>
        <expression>Today() + 14</expression>
    </formulas>
    <formulas>
        <name>ResponseTimeExpired</name>
        <dataType>Date</dataType>
        <expression>Today ()</expression>
    </formulas>
    <interviewLabel>NotificationGroupScreenFlowForSecondSendNotification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>NotificationGroupScreenFlowForSecondSendNotification</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Notification_Tasks_Not_Sent</name>
        <label>Get Notification Tasks Not Sent</label>
        <locationX>858</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assign_CountOfRecords</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Notification_Group__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sent</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>With Approval</stringValue>
            </value>
        </filters>
        <filters>
            <field>Change_date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>DeadlineForResponse__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>ResponseTimeExpired</elementReference>
            </value>
        </filters>
        <filters>
            <field>Customer_Acceptance__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>No</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Notification_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Notification_Tasks_Sent</name>
        <label>Get Notification Tasks Sent</label>
        <locationX>182</locationX>
        <locationY>1298</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>screen_SendSuccesful</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>var_apexListOfIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Notification_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Notifciation_Group_With_Approval</name>
        <label>Update Notifciation Group With Approval</label>
        <locationX>50</locationX>
        <locationY>1622</locationY>
        <connector>
            <targetReference>assign_NotificationTaskStatusSent</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <object>Notification_Group__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Notification_Tasks_Sent</name>
        <label>Update Notification Tasks Sent</label>
        <locationX>50</locationX>
        <locationY>1838</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>var_apexListOfIds</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>var_NotificationStatusForTask</elementReference>
            </value>
        </inputAssignments>
        <object>Notification_Task__c</object>
    </recordUpdates>
    <screens>
        <name>screen_ConfirmSending</name>
        <label>screen_ConfirmSending</label>
        <locationX>611</locationX>
        <locationY>866</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>check_TypeNotification</targetReference>
        </connector>
        <fields>
            <name>screen_ConfirmSending_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>screen_ConfirmSending_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>screen_ConfirmSending_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>message_confirmListOfAccounts</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Following you will find the list of Account that will be notified from this Address: {!var_EmailFromAddress}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>table_ListOfAccounts</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Notification_Task__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>table_ListOfAccounts</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>NO_SELECTION</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>Get_Notification_Tasks_Not_Sent</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;Account_Name__c&quot;,&quot;guid&quot;:&quot;column-5c47&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Account Name&quot;,&quot;type&quot;:&quot;customRichText&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>screen_ConfirmSending_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>screen_ConfirmSending_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>screen_ConfirmSending_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>screen_ConfirmSending_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>message_ConfirmSend</name>
                    <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;&lt;span style=&quot;color: rgb(183, 183, 183); font-size: 10px;&quot;&gt;When you press Next button, the email will be sent to the Account recipients.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screen_NoRecordsToSend</name>
        <label>screen_NoRecordsToSend</label>
        <locationX>1106</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>message_NoRecords</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;There is no records to send because the  Deadline for Response has not yet expired or the Change Date field has not yet been completed. Please, click Finish to end.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screen_SelectFromAddress</name>
        <label>screen_SelectFromAddress</label>
        <locationX>611</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>check_EmailFromAddress</targetReference>
        </connector>
        <fields>
            <name>screen_SelectFromAddress_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>screen_SelectFromAddress_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>screen_SelectFromAddress_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>message_DescriptionFromAddress</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;The following selection defines the From address used in the email sent to your Accounts.﻿&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>screen_SelectFromAddress_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>screen_SelectFromAddress_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>screen_SelectFromAddress_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>screen_SelectFromAddress_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>radio_FromAddress</name>
                    <choiceReferences>option_FromAddress_YES</choiceReferences>
                    <choiceReferences>option_FromAddress_NO</choiceReferences>
                    <dataType>Boolean</dataType>
                    <defaultSelectedChoiceReference>option_FromAddress_YES</defaultSelectedChoiceReference>
                    <fieldText>Select the From Address</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>screen_SelectFromAddress_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screen_SendEmailFailure</name>
        <label>screen_SendEmailFailure</label>
        <locationX>578</locationX>
        <locationY>1298</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>message_sendFailure</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;An error was raisen while trying to send the email. Please, retry or contact the Administrator.&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;Error Message:&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!var_apexErrorMessage}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screen_SendSuccesful</name>
        <label>screen_SendSuccesful</label>
        <locationX>182</locationX>
        <locationY>1406</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>check_NotificationGroupType</targetReference>
        </connector>
        <fields>
            <name>message_SentSuccesfully</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(131, 129, 129);&quot;&gt;The Notifications were sent successfully to all Accounts!&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>732</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Notification_Tasks_Not_Sent</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Notification_Group__c</objectType>
    </variables>
    <variables>
        <name>var_apexErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_apexListOfIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_apexResult</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_CountOfRecords</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_EmailFromAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_NotificationStatusForTask</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
