force-app/main/default/flows/NotificationGroupAfterSave_UpdateNotificationProcessStatus.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>assign_Closed</name>
        <label>assign_Closed</label>
        <locationX>842</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>var_NotificationProcessStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Notification Closed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Notification_Process</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_CountOfRecords</name>
        <label>assign CountOfRecords</label>
        <locationX>974</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>var_count</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>filter_Notification_Group_Closed</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>check_AllClosed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Denied</name>
        <label>assign_Denied</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>var_NotificationProcessStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Notification Rejected</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Other_Notification_Group_from_Notification_Process</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_ProcessingForAssigned</name>
        <label>assign_ProcessingForAssigned</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>var_NotificationProcessStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Processing</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Notification_Process</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_ProcessingForSent</name>
        <label>assign_ProcessingForSent</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>var_NotificationProcessStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Processing</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Notification_Process</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_TotalOfRecords</name>
        <label>assign_TotalOfRecords</label>
        <locationX>974</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>var_TotalRecords</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Other_Notification_Group_from_Notification_Process_to_Close</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>filter_Notification_Group_Closed</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>filter_Notification_Group_Closed</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>filter Notification Group Closed</label>
        <locationX>974</locationX>
        <locationY>647</locationY>
        <assignNextValueToReference>currentItem_filter_Notification_Group_Closed_0</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Other_Notification_Group_from_Notification_Process_to_Close</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_filter_Notification_Group_Closed_0.Status__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Closed</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>assign_CountOfRecords</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>check_AllClosed</name>
        <label>check_AllClosed</label>
        <locationX>974</locationX>
        <locationY>863</locationY>
        <defaultConnectorLabel>allClosed_No</defaultConnectorLabel>
        <rules>
            <name>allClosed_YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_count</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>var_TotalRecords</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_Closed</targetReference>
            </connector>
            <label>allClosed_YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_Status</name>
        <label>check_Status</label>
        <locationX>710</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>status_Assigned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Assigned</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_ProcessingForAssigned</targetReference>
            </connector>
            <label>status_Assigned</label>
        </rules>
        <rules>
            <name>status_Sent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sent</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_ProcessingForSent</targetReference>
            </connector>
            <label>status_Sent</label>
        </rules>
        <rules>
            <name>status_Denied</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Denied</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_Denied</targetReference>
            </connector>
            <label>status_Denied</label>
        </rules>
        <rules>
            <name>status_Closed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Other_Notification_Group_from_Notification_Process_to_Close</targetReference>
            </connector>
            <label>status_Closed</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>formula_add</name>
        <dataType>Number</dataType>
        <expression>{!var_count} + 1</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>NotificationGroupAfterSave_UpdateNotificationProcessStatus {!$Flow.CurrentDateTime}</interviewLabel>
    <label>NotificationGroupAfterSave_UpdateNotificationProcessStatus</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Other_Notification_Group_from_Notification_Process</name>
        <label>Get Other Notification Group from Notification Process</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Notification_Group_to_Closed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Notification_Process__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Notification_Process__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Notification_Group__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Other_Notification_Group_from_Notification_Process_to_Close</name>
        <label>Get Other Notification Group from Notification Process to Close</label>
        <locationX>974</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assign_TotalOfRecords</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Notification_Process__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Notification_Process__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Notification_Group__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Notification_Group_to_Closed</name>
        <label>Update Notification Group to Closed</label>
        <locationX>578</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Update_Notification_Process</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Notification_Process__r.NotificationGroup__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Notification_Process</name>
        <label>Update Notification Process</label>
        <locationX>710</locationX>
        <locationY>1247</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Notification_Process__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>var_NotificationProcessStatus</elementReference>
            </value>
        </inputAssignments>
        <object>Notification_Process__c</object>
    </recordUpdates>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>check_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Notification_Group__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItem_filter_Notification_Group_Closed_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Notification_Group__c</objectType>
    </variables>
    <variables>
        <name>var_count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_isClosed</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>var_isProcessing</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>var_isRejected</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>var_NotificationProcessStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_TotalRecords</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
