force-app/main/default/flows/NotificationGroupScreenFlowForAccountSeleccion.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>assign_addAccountId</name>
        <label>assign_addAccountId</label>
        <locationX>402</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>var_accountIdCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_through_accounts.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_through_accounts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_addExistingTaskAccount</name>
        <label>assign_addExistingTaskAccount</label>
        <locationX>1128</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>var_accountIdTaskCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_ExistingNotificationTasks.Notification_Account__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_ExistingNotificationTasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_addNotificationContactShareforProcessOwner</name>
        <label>assign_addNotificationContactShareforProcessOwner</label>
        <locationX>138</locationX>
        <locationY>3602</locationY>
        <assignmentItems>
            <assignToReference>sObject_NotificationContactShareCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sObject_NotificationContactShare</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_NotificationContactShareforTechnicalUser</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_addNotificationContactShareforTechnicalUser</name>
        <label>assign_addNotificationContactShareforTechnicalUser</label>
        <locationX>138</locationX>
        <locationY>3818</locationY>
        <assignmentItems>
            <assignToReference>sObject_NotificationContactShareCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sObject_NotificationContactShare</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_NotificationContactShare</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_addNotificationTaskCollection</name>
        <label>assign_addNotificationTaskCollection</label>
        <locationX>402</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>sObject_NotificationTaskCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sObject_NotificationTask</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_addAccountId</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_getNumberOfAccounts</name>
        <label>assign_getNumberOfAccounts</label>
        <locationX>1040</locationX>
        <locationY>650</locationY>
        <assignmentItems>
            <assignToReference>var_NumberOfAccountAvailables</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Accounts_From_Owner</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>check_NumberOfAccounts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_NewNotificationContact</name>
        <label>assign_NewNotificationContact</label>
        <locationX>138</locationX>
        <locationY>2978</locationY>
        <assignmentItems>
            <assignToReference>sObject_NotificationContact.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_through_contacts.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObject_NotificationContact.Notification_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_through_contacts.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObject_NotificationContact.Notification_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_through_contacts.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObject_NotificationContact.Notification_Group__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObject_NotificationContact.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Owner__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_NewNotificationContactCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_NewNotificationContactCollection</name>
        <label>assign_NewNotificationContactCollection</label>
        <locationX>138</locationX>
        <locationY>3086</locationY>
        <assignmentItems>
            <assignToReference>sObject_NotificationContactCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sObject_NotificationContact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_through_contacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_NewNotificationTask</name>
        <label>assign_NewNotificationTask</label>
        <locationX>402</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>sObject_NotificationTask.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_NotifcationTaskName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObject_NotificationTask.Notification_Group__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObject_NotificationTask.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Created</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObject_NotificationTask.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObject_NotificationTask.Notification_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_through_accounts.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObject_NotificationTask.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Owner__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_addNotificationTaskCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_NotificationContactShareforProcessOwner</name>
        <label>assign_NotificationContactShareforProcessOwner</label>
        <locationX>138</locationX>
        <locationY>3494</locationY>
        <assignmentItems>
            <assignToReference>sObject_NotificationContactShare.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_NotificationContactShare.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObject_NotificationContactShare.UserOrGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_NotificationContactShare.Notification_Group__r.Notification_Process__r.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObject_NotificationContactShare.RowCause</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObject_NotificationContactShare.AccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_addNotificationContactShareforProcessOwner</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_NotificationContactShareforTechnicalUser</name>
        <label>assign_NotificationContactShareforTechnicalUser</label>
        <locationX>138</locationX>
        <locationY>3710</locationY>
        <assignmentItems>
            <assignToReference>sObject_NotificationContactShare.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_NotificationContactShare.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObject_NotificationContactShare.UserOrGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_NotificationContactShare.Notification_Group__r.Notification_Process__r.Technical_Manager__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObject_NotificationContactShare.RowCause</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObject_NotificationContactShare.AccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_addNotificationContactShareforTechnicalUser</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_NotificationTaskShareProcessOwner</name>
        <label>assign_NotificationTaskShareProcessOwner</label>
        <locationX>402</locationX>
        <locationY>1814</locationY>
        <assignmentItems>
            <assignToReference>sObject_NotificationTaskShare.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_NotificationTaskShare.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObject_NotificationTaskShare.UserOrGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_NotificationTaskShare.Notification_Group__r.Notification_Process__r.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObject_NotificationTaskShare.RowCause</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObject_NotificationTaskShare.AccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assing_addNotificationTaskShareForProcessOwner</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_NotificationTaskShareTechnicalUser</name>
        <label>assign_NotificationTaskShareTechnicalUser</label>
        <locationX>402</locationX>
        <locationY>2030</locationY>
        <assignmentItems>
            <assignToReference>sObject_NotificationTaskShare.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_NotificationTaskShare.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObject_NotificationTaskShare.UserOrGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_NotificationTaskShare.Notification_Group__r.Notification_Process__r.Technical_Manager__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObject_NotificationTaskShare.RowCause</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObject_NotificationTaskShare.AccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assing_addNotificationTaskShareForTechnicalUser</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assing_addNotificationTaskShareForProcessOwner</name>
        <label>assing_addNotificationTaskShareForProcessOwner</label>
        <locationX>402</locationX>
        <locationY>1922</locationY>
        <assignmentItems>
            <assignToReference>sObject_NotificationTaskShareCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sObject_NotificationTaskShare</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_NotificationTaskShareTechnicalUser</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assing_addNotificationTaskShareForTechnicalUser</name>
        <label>assing_addNotificationTaskShareForTechnicalUser</label>
        <locationX>402</locationX>
        <locationY>2138</locationY>
        <assignmentItems>
            <assignToReference>sObject_NotificationTaskShareCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sObject_NotificationTaskShare</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_NotificationTaskShare</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_AccountSelection</name>
        <label>Check_AccountSelection</label>
        <locationX>710</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>Screen_for_Account_Back</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_AccountSelection_Valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountSelection.firstSelectedRow.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loop_through_accounts</targetReference>
            </connector>
            <label>Check_AccountSelection_Valid</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_ContactSelection</name>
        <label>Check_ContactSelection</label>
        <locationX>314</locationX>
        <locationY>2762</locationY>
        <defaultConnector>
            <targetReference>Screen_for_Contact_Back</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_ContactSelection_IsValid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContactSelection.firstSelectedRow.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loop_through_contacts</targetReference>
            </connector>
            <label>Check_ContactSelection_IsValid</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_NumberOfAccounts</name>
        <label>check_NumberOfAccounts</label>
        <locationX>1040</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>screen_NoRecordstoShow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>zero</defaultConnectorLabel>
        <rules>
            <name>Greater0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_NumberOfAccountAvailables</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_for_Account_Selection</targetReference>
            </connector>
            <label>Greater0</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>formula_NotifcationTaskName</name>
        <dataType>String</dataType>
        <expression>{!recordId.Name} + &apos;_&apos; + {!loop_through_accounts.Name}</expression>
    </formulas>
    <interviewLabel>NotificationGroup {!$Flow.CurrentDateTime}</interviewLabel>
    <label>NotificationGroupScreenFlowForAccountSeleccion</label>
    <loops>
        <name>loop_ExistingNotificationTasks</name>
        <label>loop_ExistingNotificationTasks</label>
        <locationX>1040</locationX>
        <locationY>242</locationY>
        <collectionReference>Get_Existing_Notification_Tasks</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_addExistingTaskAccount</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Accounts_From_Owner</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_NotificationContactShare</name>
        <label>loop_NotificationContactShare</label>
        <locationX>50</locationX>
        <locationY>3386</locationY>
        <collectionReference>sObject_NotificationContactCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_NotificationContactShareforProcessOwner</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Notification_Contacts_Share</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_NotificationTaskShare</name>
        <label>loop_NotificationTaskShare</label>
        <locationX>314</locationX>
        <locationY>1706</locationY>
        <collectionReference>sObject_NotificationTaskCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_NotificationTaskShareProcessOwner</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Notification_Task_Share</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_through_accounts</name>
        <label>loop through accounts</label>
        <locationX>314</locationX>
        <locationY>1082</locationY>
        <collectionReference>AccountSelection.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_NewNotificationTask</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Notification_Task_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_through_contacts</name>
        <label>loop_through_contacts</label>
        <locationX>50</locationX>
        <locationY>2870</locationY>
        <collectionReference>ContactSelection.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_NewNotificationContact</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Notification_Contacts_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Notification_Contacts_Records</name>
        <label>Create Notification Contacts Records</label>
        <locationX>50</locationX>
        <locationY>3278</locationY>
        <connector>
            <targetReference>loop_NotificationContactShare</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Screen_Error_for_Contacts</targetReference>
        </faultConnector>
        <inputReference>sObject_NotificationContactCollection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Notification_Contacts_Share</name>
        <label>Create Notification Contacts Share</label>
        <locationX>50</locationX>
        <locationY>4010</locationY>
        <connector>
            <targetReference>Update_Notification_Group_Status</targetReference>
        </connector>
        <inputReference>sObject_NotificationContactShareCollection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Notification_Task_Records</name>
        <label>Create Notification Task Records</label>
        <locationX>314</locationX>
        <locationY>1598</locationY>
        <connector>
            <targetReference>loop_NotificationTaskShare</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Screen_Error_for_Account</targetReference>
        </faultConnector>
        <inputReference>sObject_NotificationTaskCollection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Notification_Task_Share</name>
        <label>Create Notification Task Share</label>
        <locationX>314</locationX>
        <locationY>2330</locationY>
        <connector>
            <targetReference>Get_Contacts</targetReference>
        </connector>
        <inputReference>sObject_NotificationTaskShareCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Accounts_From_Owner</name>
        <label>Get Accounts From Owner</label>
        <locationX>1040</locationX>
        <locationY>542</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assign_getNumberOfAccounts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Owner__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotIn</operator>
            <value>
                <elementReference>var_accountIdTaskCollection</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contacts</name>
        <label>Get Contacts From Accounts</label>
        <locationX>314</locationX>
        <locationY>2438</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Notification_Tasks_From_Notification_Group</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>In</operator>
            <value>
                <elementReference>var_accountIdCollection</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_Notification_Tasks</name>
        <label>Get Existing Notification Tasks</label>
        <locationX>1040</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_ExistingNotificationTasks</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Notification_Group__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Notification_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Notification_Tasks_From_Notification_Group</name>
        <label>Get Notification Tasks From Notification Group</label>
        <locationX>314</locationX>
        <locationY>2546</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Screen_for_Contact_Selection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Notification_Group__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Notification_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordRollbacks>
        <name>Rollback_Accounts</name>
        <label>Rollback Accounts</label>
        <locationX>842</locationX>
        <locationY>1814</locationY>
    </recordRollbacks>
    <recordRollbacks>
        <name>Rollback_Contacts</name>
        <label>Rollback Contacts</label>
        <locationX>314</locationX>
        <locationY>3494</locationY>
    </recordRollbacks>
    <recordUpdates>
        <name>Update_Notification_Group_Status</name>
        <label>Update Notification Group Status</label>
        <locationX>50</locationX>
        <locationY>4118</locationY>
        <connector>
            <targetReference>ScreenforSuccess</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Assigned</stringValue>
            </value>
        </inputAssignments>
        <object>Notification_Group__c</object>
    </recordUpdates>
    <screens>
        <name>Screen_Error_for_Account</name>
        <label>Screen Error for Account</label>
        <locationX>842</locationX>
        <locationY>1706</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Rollback_Accounts</targetReference>
        </connector>
        <fields>
            <name>Message_Error_for_Account</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;Error, please communicate to Administrator.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_Error_for_Contacts</name>
        <label>Screen Error for Contacts</label>
        <locationX>314</locationX>
        <locationY>3386</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Rollback_Contacts</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Message_Error_for_Account</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;Error, please communicate to Administrator.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_for_Account_Back</name>
        <label>Screen for Account Back</label>
        <locationX>1106</locationX>
        <locationY>1082</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Message_Account_Back</name>
            <fieldText>&lt;p&gt;Please, go back and select at least one Account&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_for_Account_Selection</name>
        <label>Screen for Account Selection</label>
        <locationX>710</locationX>
        <locationY>866</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_AccountSelection</targetReference>
        </connector>
        <fields>
            <name>MessageSelectAccounts</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Please, select the accounts should be notified:&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AccountSelection</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Account</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Accounts_From_Owner</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-9fcd&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Account Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Territory__c&quot;,&quot;guid&quot;:&quot;column-071e&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Territory&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Country__c&quot;,&quot;guid&quot;:&quot;column-27d1&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Country&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Zone__c&quot;,&quot;guid&quot;:&quot;column-8c24&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Zone&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;A2__c&quot;,&quot;guid&quot;:&quot;column-a690&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;A2 - Customer Market Size&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Product__c&quot;,&quot;guid&quot;:&quot;column-458e&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:5,&quot;label&quot;:&quot;Product&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_for_Contact_Back</name>
        <label>Screen for Contact Back</label>
        <locationX>578</locationX>
        <locationY>2870</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Message_Contact_Back</name>
            <fieldText>&lt;p&gt;Please, go back and select at least one Contact&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_for_Contact_Selection</name>
        <label>Screen for Contact Selection</label>
        <locationX>314</locationX>
        <locationY>2654</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_ContactSelection</targetReference>
        </connector>
        <fields>
            <name>Message_Contact_Selection</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Please, select contacts should be notified:&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ContactSelection</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Contact</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Contacts</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-b9cc&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Full Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Title&quot;,&quot;guid&quot;:&quot;column-0393&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Title&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Email&quot;,&quot;guid&quot;:&quot;column-b8cd&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Email&quot;,&quot;type&quot;:&quot;email&quot;},{&quot;apiName&quot;:&quot;Account_Name_Data_Table__c&quot;,&quot;guid&quot;:&quot;column-6d39&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Account Name&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Account Name (Data Table)&quot;,&quot;type&quot;:&quot;customRichText&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screen_NoRecordstoShow</name>
        <label>screen_NoRecordstoShow</label>
        <locationX>1370</locationX>
        <locationY>866</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>message_norecords</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;There is no records available to select. Please, click Finsh&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenforSuccess</name>
        <label>Screen for Success</label>
        <locationX>50</locationX>
        <locationY>4226</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Message_for_Success</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(150, 150, 150);&quot;&gt;Records created succesfully.&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(150, 150, 150);&quot;&gt;Press Finish to end the operation.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>914</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Existing_Notification_Tasks</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Notification_Group__c</objectType>
    </variables>
    <variables>
        <name>sObject_NotificationContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Notification_Contact__c</objectType>
    </variables>
    <variables>
        <name>sObject_NotificationContactCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Notification_Contact__c</objectType>
    </variables>
    <variables>
        <name>sObject_NotificationContactShare</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Notification_Contact__Share</objectType>
    </variables>
    <variables>
        <name>sObject_NotificationContactShareCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Notification_Contact__Share</objectType>
    </variables>
    <variables>
        <name>sObject_NotificationTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Notification_Task__c</objectType>
    </variables>
    <variables>
        <name>sObject_NotificationTaskCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Notification_Task__c</objectType>
    </variables>
    <variables>
        <name>sObject_NotificationTaskShare</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Notification_Task__Share</objectType>
    </variables>
    <variables>
        <name>sObject_NotificationTaskShareCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Notification_Task__Share</objectType>
    </variables>
    <variables>
        <name>var_accountIdCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_accountIdTaskCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_NumberOfAccountAvailables</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
