force-app/main/default/flows/Opportunity_Grades_for_Product_Filters.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Set_Opportuniuty_Grades</name>
        <label>Set Opportuniuty Grades</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignmentItems>
            <assignToReference>$Record.Opportunity_Grades__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__r.test_Quality_Grade__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Record_with_Opportunity_Grades_for_Search_Filter</targetReference>
        </connector>
    </assignments>
    <description>v4 test multipicklist</description>
    <formulas>
        <name>OpportunityGradeswithCommas</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!$Record.Opportunity_Grades__c} , &apos;;&apos; , &apos;,&apos;)</expression>
    </formulas>
    <interviewLabel>Opportunity Grades for Product Filters {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Grades for Product Filters</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Record_with_Opportunity_Grades_for_Search_Filter</name>
        <label>Update Record with Opportunity Grades for Search Filter</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>Opportunity_Grades_for_Search_Filter__c</field>
            <value>
                <elementReference>OpportunityGradeswithCommas</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_Opportuniuty_Grades</targetReference>
        </connector>
        <object>SBQQ__Quote__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
