force-app/main/default/flows/Quote_Invalid_Price.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Add_UpdateQuoteInvalidPrice</name>
        <label>Add UpdateQuoteInvalidPrice</label>
        <locationX>528</locationX>
        <locationY>684</locationY>
        <assignmentItems>
            <assignToReference>UpdateQuote</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Invalid_Quotes</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Invalid_Quotes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_UpdateQuoteRejected</name>
        <label>Add UpdateQuoteRejected</label>
        <locationX>264</locationX>
        <locationY>684</locationY>
        <assignmentItems>
            <assignToReference>UpdateQuote</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Invalid_Quotes</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Invalid_Quotes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set to True</description>
        <name>InvalidPriceCheckbox</name>
        <label>InvalidPriceCheckbox</label>
        <locationX>528</locationX>
        <locationY>576</locationY>
        <assignmentItems>
            <assignToReference>Loop_Invalid_Quotes.Invalid_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Invalid_Quotes.SBQQ__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Invalid Price</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_UpdateQuoteInvalidPrice</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Rejected</name>
        <label>Rejected</label>
        <locationX>264</locationX>
        <locationY>576</locationY>
        <assignmentItems>
            <assignToReference>Loop_Invalid_Quotes.SBQQ__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Invalid_Quotes.Loss_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No valid CCHEN</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_UpdateQuoteRejected</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>It_is_quote_presented</name>
        <label>It is quote presented</label>
        <locationX>396</locationX>
        <locationY>468</locationY>
        <defaultConnector>
            <targetReference>InvalidPriceCheckbox</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsPresented</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Invalid_Quotes.SBQQ__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Presented</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Invalid_Quotes.SBQQ__Account__r.Valid_Cchen__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rejected</targetReference>
            </connector>
            <label>IsPresented</label>
        </rules>
    </decisions>
    <description>- Actualización de los estados de las cotizaciones que ingresan al flujo (Draft, In Review, Approved, Presented e Inavlid Price con check &quot;Price Invalid ?&quot; vacío)
- Se agrega filtro para que el flujo aplique solo sobre Spot o negociaciones (Monthy/Quarterly/S)
- Se agrega estado &quot;Aprobado&quot; para que queden fuera del flow
- Solo se seleccionan las quotes que van a vencer el día de la ejecución (diariamente)
- Se agregan nueva restricciones para que el proceso aplique solo sobre tipo de oportunidades (campos quote) -&gt; spot y contrato - Q/S/Y.</description>
    <environments>Default</environments>
    <interviewLabel>Quote - Invalid Price {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Quote - Invalid Price</label>
    <loops>
        <name>Loop_Invalid_Quotes</name>
        <label>Loop Invalid Quotes</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <collectionReference>SelectInvalidQuotes</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>It_is_quote_presented</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Set_New_Values</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>SelectInvalidQuotes</name>
        <label>SelectInvalidQuotes</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Invalid_Quotes</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3 AND 4 AND 5 AND 7 AND  (6 OR 8)</filterLogic>
        <filters>
            <field>SBQQ__ExpirationDate__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>var_TodayDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>SBQQ__Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </filters>
        <filters>
            <field>SBQQ__Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Accepted</stringValue>
            </value>
        </filters>
        <filters>
            <field>Created_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <dateValue>2022-07-13</dateValue>
            </value>
        </filters>
        <filters>
            <field>Invalid_Price__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Type_of_Opportunity__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Spot</stringValue>
            </value>
        </filters>
        <filters>
            <field>SBQQ__Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Denied</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type_of_Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contract-Monthly/Quaterly/Semesterly</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__Quote__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_New_Values</name>
        <label>Set New Values</label>
        <locationX>176</locationX>
        <locationY>960</locationY>
        <inputReference>UpdateQuote</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>SelectInvalidQuotes</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2022-06-27</startDate>
            <startTime>00:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>UpdateQuote</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__Quote__c</objectType>
    </variables>
    <variables>
        <name>var_TodayDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>$Flow.CurrentDate</elementReference>
        </value>
    </variables>
</Flow>
