force-app/main/default/flows/Send_Notification_to_Group.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>New_Notification_Group_Assign</name>
        <label>New Notification Group Assign</label>
        <locationX>264</locationX>
        <locationY>242</locationY>
        <actionName>Notification_Group__c.New_Notification_Group_Assign</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Notification_Groups</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Notification_Groups.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Notification_Group__c.New_Notification_Group_Assign</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Send Notification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send Notification to Group</label>
    <loops>
        <name>Notification_Groups</name>
        <label>Notification Groups</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <collectionReference>Triggering_Groups</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>New_Notification_Group_Assign</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Notification_Groups</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Triggering_Groups</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Notification_Group__c</objectType>
    </variables>
</Flow>
