force-app/main/default/flows/SQM_Update_Account_Last_Transaccion.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Decision_Update_Account</name>
        <label>Decision Update Account</label>
        <locationX>821</locationX>
        <locationY>205</locationY>
        <defaultConnector>
            <targetReference>LoopAccount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No actualiza</defaultConnectorLabel>
        <rules>
            <name>Si_actualiza</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetTransactions.Number_days_transaction__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>90.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetTransactions.Account__r.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>LoopAccount.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Records</targetReference>
            </connector>
            <label>Si actualiza</label>
        </rules>
    </decisions>
    <interviewLabel>SQM Update Account LastTransaccion {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SQM Update Account Last Transaccion</label>
    <loops>
        <name>LoopAccount</name>
        <label>LoopAccount</label>
        <locationX>612</locationX>
        <locationY>129</locationY>
        <collectionReference>GetAccounts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>GetTransactions</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetAccounts</name>
        <label>GetAccounts</label>
        <locationX>392</locationX>
        <locationY>393</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopAccount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetRecords_AccounEmpresa.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRecords_AccounEmpresa</name>
        <label>GetRecords_AccounEmpresa</label>
        <locationX>260</locationX>
        <locationY>286</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetAccounts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarTXT_NameRecord</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetTransactions</name>
        <label>GetTransactions</label>
        <locationX>647</locationX>
        <locationY>442</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_Update_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoopAccount.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Number_days_transaction__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <numberValue>90.0</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Transaction__c</object>
        <sortField>Date__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Records</name>
        <label>Update Records</label>
        <locationX>964</locationX>
        <locationY>37</locationY>
        <connector>
            <targetReference>LoopAccount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetTransactions.Account__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account_Active_Last_Transactions__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Account_Date_Last_Transactions__c</field>
            <value>
                <elementReference>GetTransactions.Date__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>86</locationX>
        <locationY>47</locationY>
        <connector>
            <targetReference>GetRecords_AccounEmpresa</targetReference>
        </connector>
        <object>Account</object>
        <schedule>
            <frequency>Weekly</frequency>
            <startDate>2022-03-29</startDate>
            <startTime>20:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>VarTXT_NameRecord</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Empresa</stringValue>
        </value>
    </variables>
</Flow>
