force-app/main/default/flows/Summary_RollUp_volume_from_Opportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Assign_Contract_Volume_ClosedWon</name>
        <label>Assign Contract Volume ClosedWon</label>
        <locationX>533</locationX>
        <locationY>672</locationY>
        <assignmentItems>
            <assignToReference>VolumeClosedWon</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopOpportunities.Volume__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopOpportunities</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Summary RollUp volume from Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Summary RollUp volume from Opportunity</label>
    <loops>
        <name>loopOpportunities</name>
        <label>loopOpportunities</label>
        <locationX>532</locationX>
        <locationY>511</locationY>
        <collectionReference>getOpportunities</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Contract_Volume_ClosedWon</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateVolumeContract</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getOpportunities</name>
        <label>getOpportunities</label>
        <locationX>533</locationX>
        <locationY>341</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopOpportunities</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContractId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contract.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type_of_Negotiation__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contract</stringValue>
            </value>
        </filters>
        <filters>
            <field>ContractId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateVolumeContract</name>
        <label>UpdateVolumeContract</label>
        <locationX>874</locationX>
        <locationY>508</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contract.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Closed_Won_Volume__c</field>
            <value>
                <elementReference>VolumeClosedWon</elementReference>
            </value>
        </inputAssignments>
        <object>Contract</object>
    </recordUpdates>
    <start>
        <locationX>410</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>getOpportunities</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type_of_Negotiation__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contract</stringValue>
            </value>
        </filters>
        <filters>
            <field>ContractId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>Variable que totaliza el volumen de Oportunidades cerradas ganadas</description>
        <name>VolumeClosedWon</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>1</scale>
    </variables>
</Flow>
