force-app/main/default/flows/Survey_Sent_with_Message.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>llamaEnvioEncuestaApex</name>
        <label>llamaEnvioEncuestaApex</label>
        <locationX>741</locationX>
        <locationY>219</locationY>
        <actionName>SQM_EnviarEncuestaNPS</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>ScreenEnvioEncuesta</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>listContactos</name>
            <value>
                <elementReference>Get_Contact_NPS</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SQM_EnviarEncuestaNPS</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <decisions>
        <name>Decision_de_Envio_Encuesta</name>
        <label>Decision de Envio Encuesta</label>
        <locationX>604</locationX>
        <locationY>6</locationY>
        <defaultConnector>
            <targetReference>Survey_not_sent</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Envía Encuesta</defaultConnectorLabel>
        <rules>
            <name>Si_envia_encuesta</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contact_NPS</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>llamaEnvioEncuestaApex</targetReference>
            </connector>
            <label>Si envía encuesta</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Perfil_Usuario</name>
        <label>Decision Perfil Usuario</label>
        <locationX>31</locationX>
        <locationY>202</locationY>
        <defaultConnector>
            <targetReference>Mensaje_de_error_usuario</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarForm_Profilev2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact_NPS</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>VarForm_Profilev2</name>
        <dataType>Boolean</dataType>
        <expression>IF(
{!$Profile.Name} = &apos;System Administrator&apos;, TRUE, FALSE
)</expression>
    </formulas>
    <interviewLabel>Send Survey Wiht Me {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Survey Sent with Message</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Contact_NPS</name>
        <label>Get Contact NPS</label>
        <locationX>346</locationX>
        <locationY>145</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_de_Envio_Encuesta</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account_NPS__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NPS</stringValue>
            </value>
        </filters>
        <filters>
            <field>Account_Active_Last_Transactions__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsPersonAccount</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Mensaje_de_error_usuario</name>
        <label>Mensaje de error usuario</label>
        <locationX>204</locationX>
        <locationY>395</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Mensaje_Error_Usuario</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px; color: rgb(255, 0, 0);&quot;&gt;No puede enviar la encuesta, contacte con su administrador&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenEnvioEncuesta</name>
        <label>ScreenEnvioEncuesta</label>
        <locationX>1137</locationX>
        <locationY>121</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>TXT_EnvioEncuesta</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Se han enviado todas las encuestas.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Survey_not_sent</name>
        <label>Survey not sent</label>
        <locationX>582</locationX>
        <locationY>446</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>TXT_SurveySend</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;There are no contacts to send survey&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>126</locationX>
        <locationY>2</locationY>
        <connector>
            <targetReference>Decision_Perfil_Usuario</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>VARTXT_PerfilUsuario</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>System Administrator</stringValue>
        </value>
    </variables>
</Flow>
